---
title: Base condition properties
description: undefined
section: Definitions
theme: 
aliases:
backlog_issue_id:
layout: layout-pane.njk
---

{% from "_specExample.njk" import specExample %}
{% from "table/macro.njk" import govukTable %}
{% from "details/macro.njk" import govukDetails %}
{% set $DesignSystem = 'https://govuk-design-system-production.cloudapps.digital' %}



### Properties


{{ govukTable({
  "firstCellIsHeader": true,
  "head": [
    {
      "text": "Property"
    },
    {
      "text": "Type"
    },
    {
      "text": "Required"
    },
    {
      "text": "Description"
    },
    {
      "text": "Default"
    }
  ],
  "rows": [
  [
    {
      "text": "identifier"
    },
    {
      "text": "string"
    },
    {
      "text": "yes"
    },
    {
      "html": "Identifier"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "identifierType"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Identifier type"
    },
    {
      "html": "-"
    }
  ]
]
}) }}






### Schema

{{ govukDetails({
  "summaryText": "Raw schema",
  "html": "
```
{
  \"$id\": \"http://gov.uk/schema/v1.0.0/definition/condition.base\",
  \"_name\": \"condition.base.definition\",
  \"title\": \"Base condition properties\",
  \"properties\": {
    \"identifier\": {
      \"title\": \"Identifier\",
      \"type\": \"string\"
    },
    \"identifierType\": {
      \"title\": \"Identifier type\",
      \"type\": \"string\",
      \"enum\": [
        \"input\",
        \"feature\"
      ]
    }
  },
  \"required\": [
    \"identifier\"
  ],
  \"category\": [
    \"definition\"
  ]
}
```
"
}) }}

{{ govukDetails({
  "summaryText": "Expanded schema",
  "html": "
```
{
  \"$id\": \"http://gov.uk/schema/v1.0.0/definition/condition.base\",
  \"_name\": \"condition.base.definition\",
  \"title\": \"Base condition properties\",
  \"properties\": {
    \"identifier\": {
      \"title\": \"Identifier\",
      \"type\": \"string\"
    },
    \"identifierType\": {
      \"title\": \"Identifier type\",
      \"type\": \"string\",
      \"enum\": [
        \"input\",
        \"feature\"
      ]
    }
  },
  \"required\": [
    \"identifier\"
  ],
  \"category\": [
    \"definition\"
  ]
}
```
"
}) }}

### Schema used by

- [Boolean condition properties](/definition/condition.boolean)
- [Defined condition properties](/definition/condition.defined)
- [Number condition properties](/definition/condition.number)
- [Text condition properties](/definition/condition.text)





### Categories

definition

        