---
title: Name definition
description: undefined
section: Definitions
theme: 
aliases:
backlog_issue_id:
layout: layout-pane.njk
---

{% from "_specExample.njk" import specExample %}
{% from "table/macro.njk" import govukTable %}
{% from "details/macro.njk" import govukDetails %}
{% set $DesignSystem = 'https://govuk-design-system-production.cloudapps.digital' %}



### Properties


{{ govukTable({
  "firstCellIsHeader": true,
  "head": [
    {
      "text": "Property"
    },
    {
      "text": "Type"
    },
    {
      "text": "Required"
    },
    {
      "text": "Description"
    },
    {
      "text": "Default"
    }
  ],
  "rows": [
  [
    {
      "text": "name"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Input name"
    },
    {
      "html": "-"
    }
  ]
]
}) }}






### Schema

{{ govukDetails({
  "summaryText": "Raw schema",
  "html": "
```
{
  \"$id\": \"http://gov.uk/schema/v1.0.0/definition/name\",
  \"_name\": \"definition.name\",
  \"title\": \"Name definition\",
  \"properties\": {
    \"name\": {
      \"title\": \"Input name\",
      \"type\": \"string\"
    }
  }
}
```
"
}) }}

{{ govukDetails({
  "summaryText": "Expanded schema",
  "html": "
```
{
  \"$id\": \"http://gov.uk/schema/v1.0.0/definition/name\",
  \"_name\": \"definition.name\",
  \"title\": \"Name definition\",
  \"properties\": {
    \"name\": {
      \"title\": \"Input name\",
      \"type\": \"string\"
    }
  }
}
```
"
}) }}

### Schema used by

- [Checkboxes](/component/checkboxes)
- [Field definition](/definition/field)
- [Radios](/component/radios)









        