<div class="app-masthead">
  <div class="govuk-width-container app-site-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl app-masthead__title">Create your digital service by defining it as data</h1>
            <p class="app-masthead__description">Use this system to make your service consistent with GOV.UK, automatically using GOV.UK styles, components and patterns, benefitting from the research and experience of other service teams, and avoiding repetition work that’s already been done.</p>
        </div>
    </div>
  </div>
</div>
