---
title: Fieldset
description: Component for fieldset
section: Components
theme: grouping
aliases:
backlog_issue_id:
layout: layout-pane.njk
---

{% from "_specExample.njk" import specExample %}
{% from "table/macro.njk" import govukTable %}
{% from "details/macro.njk" import govukDetails %}
{% set $DesignSystem = 'https://govuk-design-system-production.cloudapps.digital' %}

Use the Fieldset component to group related form inputs.

A fieldset may contain any other type of blocks including other fieldsets.

The fieldset component should only be used on form pages.

[Read more about when to use the fieldset component on the GOV.UK Design System]({{ $DesignSystem }}/components/fieldset)

### Properties


{{ govukTable({
  "firstCellIsHeader": true,
  "head": [
    {
      "text": "Property"
    },
    {
      "text": "Type"
    },
    {
      "text": "Required"
    },
    {
      "text": "Description"
    },
    {
      "text": "Default"
    }
  ],
  "rows": [
  [
    {
      "text": "_id"
    },
    {
      "text": "string"
    },
    {
      "text": "yes"
    },
    {
      "html": "Data ID"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "_type"
    },
    {
      "text": "string"
    },
    {
      "text": "yes"
    },
    {
      "html": "Data type"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "legend"
    },
    {
      "text": "string"
    },
    {
      "text": "yes"
    },
    {
      "html": "Legend"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "_isa"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Based on"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "attributes"
    },
    {
      "text": "object"
    },
    {
      "text": "no"
    },
    {
      "html": "Additional HTML attributes"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "classes"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Additional HTML classes"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "components"
    },
    {
      "text": "array"
    },
    {
      "text": "no"
    },
    {
      "html": "Components"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "hint"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Hint"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "id"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Additional HTML id"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "model"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Model to store field in"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "modelProtect"
    },
    {
      "text": "boolean"
    },
    {
      "text": "no"
    },
    {
      "html": "Whether to prevent the block’s model being overridden or appended "
    },
    {
      "html": false
    }
  ],
  [
    {
      "text": "multiple"
    },
    {
      "text": "boolean"
    },
    {
      "text": "no"
    },
    {},
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "multipleAdd"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {},
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "multipleDelete"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {},
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "multipleMaximum"
    },
    {
      "text": "number"
    },
    {
      "text": "no"
    },
    {},
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "multipleMinimum"
    },
    {
      "text": "number"
    },
    {
      "text": "no"
    },
    {},
    {
      "html": 1
    }
  ],
  [
    {
      "text": "show"
    },
    {},
    {
      "text": "no"
    },
    {
      "html": "Whether to show block or not"
    },
    {
      "html": true
    }
  ]
]
}) }}


### Examples


Basic example of fieldset
{{ specExample({group: 'component', item: 'fieldset', example: 'exampleFieldset', html: true, json: true, open: true}) }}

### Schema

{{ govukDetails({
  "summaryText": "Raw schema",
  "html": "
```
{
  \"$id\": \"http://gov.uk/schema/v1.0.0/fieldset\",
  \"_name\": \"fieldset\",
  \"title\": \"Fieldset\",
  \"description\": \"Component for fieldset\",
  \"type\": \"object\",
  \"category\": [
    \"control\",
    \"fieldset\"
  ],
  \"properties\": {
    \"_type\": {
      \"const\": \"fieldset\"
    },
    \"legend\": {
      \"title\": \"Legend\",
      \"description\": \"Text to use in fieldset legend (legendHtml)\",
      \"type\": \"string\"
    },
    \"hint\": {
      \"title\": \"Hint\",
      \"description\": \"Hint text to use in fieldset legend (legendHintHtml)\",
      \"type\": \"string\"
    }
  },
  \"allOf\": [
    {
      \"$ref\": \"http://gov.uk/schema/v1.0.0/definition/multiple\"
    },
    {
      \"$ref\": \"http://gov.uk/schema/v1.0.0/definition/grouping\"
    }
  ],
  \"required\": [
    \"legend\"
  ]
}
```
"
}) }}

{{ govukDetails({
  "summaryText": "Expanded schema",
  "html": "
```
{
  \"$id\": \"http://gov.uk/schema/v1.0.0/fieldset\",
  \"_name\": \"fieldset\",
  \"title\": \"Fieldset\",
  \"description\": \"Component for fieldset\",
  \"type\": \"object\",
  \"category\": [
    \"component\",
    \"control\",
    \"definition\",
    \"fieldset\",
    \"grouping\"
  ],
  \"properties\": {
    \"_type\": {
      \"const\": \"fieldset\",
      \"title\": \"Data type\",
      \"type\": \"string\"
    },
    \"legend\": {
      \"title\": \"Legend\",
      \"description\": \"Text to use in fieldset legend (legendHtml)\",
      \"type\": \"string\"
    },
    \"hint\": {
      \"title\": \"Hint\",
      \"description\": \"Hint text to use in fieldset legend (legendHintHtml)\",
      \"type\": \"string\"
    },
    \"multiple\": {
      \"type\": \"boolean\"
    },
    \"multipleMinimum\": {
      \"type\": \"number\",
      \"minimum\": 0,
      \"default\": 1
    },
    \"multipleMaximum\": {
      \"type\": \"number\",
      \"minimum\": 0
    },
    \"multipleAdd\": {
      \"type\": \"string\"
    },
    \"multipleDelete\": {
      \"type\": \"string\"
    },
    \"model\": {
      \"title\": \"Model to store field in\",
      \"type\": \"string\"
    },
    \"modelProtect\": {
      \"title\": \"Whether to prevent the block’s model being overridden or appended \",
      \"type\": \"boolean\",
      \"default\": false
    },
    \"show\": {
      \"title\": \"Whether to show block or not\",
      \"oneOf\": [
        {
          \"$id\": \"http://gov.uk/schema/v1.0.0/definition/conditional.boolean\",
          \"_name\": \"conditional.boolean.definition\",
          \"title\": \"Boolean or condition\",
          \"type\": [
            \"boolean\",
            \"object\"
          ],
          \"oneOf\": [
            {
              \"type\": \"boolean\"
            },
            {
              \"$ref\": \"http://gov.uk/schema/v1.0.0/definition/condition\"
            }
          ],
          \"category\": [
            \"definition\"
          ]
        }
      ],
      \"default\": true
    },
    \"_id\": {
      \"title\": \"Data ID\",
      \"type\": \"string\"
    },
    \"_isa\": {
      \"title\": \"Based on\",
      \"description\": \"Id of referenced data current data inherits property values from\",
      \"type\": \"string\",
      \"blockReference\": true
    },
    \"components\": {
      \"title\": \"Components\",
      \"type\": \"array\",
      \"items\": {
        \"$id\": \"http://gov.uk/schema/v1.0.0/definition/component\",
        \"_name\": \"component.definition\",
        \"title\": \"Component definition\",
        \"category\": [
          \"component\",
          \"definition\"
        ],
        \"required\": [
          \"_id\",
          \"_type\"
        ],
        \"properties\": {
          \"show\": {
            \"title\": \"Whether to show block or not\",
            \"oneOf\": [
              {
                \"$id\": \"http://gov.uk/schema/v1.0.0/definition/conditional.boolean\",
                \"_name\": \"conditional.boolean.definition\",
                \"title\": \"Boolean or condition\",
                \"type\": [
                  \"boolean\",
                  \"object\"
                ],
                \"oneOf\": [
                  {
                    \"type\": \"boolean\"
                  },
                  {
                    \"$ref\": \"http://gov.uk/schema/v1.0.0/definition/condition\"
                  }
                ],
                \"category\": [
                  \"definition\"
                ]
              }
            ],
            \"default\": true
          },
          \"_id\": {
            \"title\": \"Data ID\",
            \"type\": \"string\"
          },
          \"_type\": {
            \"title\": \"Data type\",
            \"type\": \"string\"
          },
          \"_isa\": {
            \"title\": \"Based on\",
            \"description\": \"Id of referenced data current data inherits property values from\",
            \"type\": \"string\",
            \"blockReference\": true
          }
        }
      }
    },
    \"id\": {
      \"title\": \"Additional HTML id\",
      \"type\": \"string\"
    },
    \"classes\": {
      \"title\": \"Additional HTML classes\",
      \"type\": \"string\"
    },
    \"attributes\": {
      \"title\": \"Additional HTML attributes\",
      \"type\": \"object\"
    }
  },
  \"required\": [
    \"_id\",
    \"_type\",
    \"legend\"
  ]
}
```
"
}) }}





### Schema uses

- [Multiple definition](/definition/multiple)
- [Grouping definition](/definition/grouping)

### Categories

component, control, fieldset, grouping

        