---
title: Fieldset
description: Component for fieldset
section: Components
theme: grouping
aliases:
backlog_issue_id:
layout: layout-pane.njk
---

{% from "_specExample.njk" import specExample %}
{% from "table/macro.njk" import govukTable %}
{% from "details/macro.njk" import govukDetails %}
{% set $DesignSystem = 'https://govuk-design-system-production.cloudapps.digital' %}

Use the Fieldset component to group related form inputs.

A fieldset may contain any other type of blocks including other fieldsets.

The fieldset component should only be used on form pages.

[Read more about when to use the fieldset component on the GOV.UK Design System]({{ $DesignSystem }}/components/fieldset)

### Properties


{{ govukTable({
  "firstCellIsHeader": true,
  "head": [
    {
      "text": "Property"
    },
    {
      "text": "Type"
    },
    {
      "text": "Required"
    },
    {
      "text": "Description"
    },
    {
      "text": "Default"
    }
  ],
  "rows": [
  [
    {
      "text": "_id"
    },
    {
      "text": "string"
    },
    {
      "text": "yes"
    },
    {
      "html": "Data ID"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "_type"
    },
    {
      "text": "string"
    },
    {
      "text": "yes"
    },
    {
      "html": "Data type"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "legendHtml"
    },
    {
      "text": "string"
    },
    {
      "text": "yes"
    },
    {
      "html": "Legend"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "_isa"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Reference to data based on"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "attributes"
    },
    {
      "text": "object"
    },
    {
      "text": "no"
    },
    {
      "html": "Additional HTML attributes"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "classes"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Additional HTML classes"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "id"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Additional HTML id"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "items"
    },
    {
      "text": "array"
    },
    {
      "text": "no"
    },
    {
      "html": "Items"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "legendHintHtml"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Hint"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "model"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Model to store field in"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "modelProtect"
    },
    {
      "text": "boolean"
    },
    {
      "text": "no"
    },
    {
      "html": "Whether to prevent the block’s model being overridden or appended "
    },
    {
      "html": false
    }
  ],
  [
    {
      "text": "multiple"
    },
    {
      "text": "boolean"
    },
    {
      "text": "no"
    },
    {},
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "multipleMaximum"
    },
    {
      "text": "number"
    },
    {
      "text": "no"
    },
    {},
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "multipleMinimum"
    },
    {
      "text": "number"
    },
    {
      "text": "no"
    },
    {},
    {
      "html": 1
    }
  ],
  [
    {
      "text": "show"
    },
    {},
    {
      "text": "no"
    },
    {
      "html": "Whether to show block or not"
    },
    {
      "html": true
    }
  ]
]
}) }}


### Examples


Basic example of fieldset
{{ specExample({group: 'component', item: 'fieldset', example: 'exampleFieldset', html: true, json: true, open: true}) }}

### Schema

{{ govukDetails({
  "summaryText": "Raw schema",
  "html": "
```
{
  \"$id\": \"http://gov.uk/schema/v1.0.0/fieldset\",
  \"title\": \"Fieldset\",
  \"description\": \"Component for fieldset\",
  \"type\": \"object\",
  \"category\": [
    \"control\",
    \"fieldset\"
  ],
  \"properties\": {
    \"_type\": {
      \"const\": \"fieldset\"
    },
    \"legendHtml\": {
      \"title\": \"Legend\",
      \"description\": \"Text to use in fieldset legend\",
      \"type\": \"string\"
    },
    \"legendHintHtml\": {
      \"title\": \"Hint\",
      \"description\": \"Hint text to use in fieldset legend\",
      \"type\": \"string\"
    }
  },
  \"allOf\": [
    {
      \"$ref\": \"/schema/v1.0.0/definitions#/definitions/multipleProperties\"
    },
    {
      \"$ref\": \"/schema/v1.0.0/definitions#/definitions/grouping\"
    }
  ],
  \"required\": [
    \"legendHtml\"
  ]
}
```
"
}) }}

{{ govukDetails({
  "summaryText": "Expanded schema",
  "html": "
```
{
  \"$id\": \"http://gov.uk/schema/v1.0.0/fieldset\",
  \"title\": \"Fieldset\",
  \"description\": \"Component for fieldset\",
  \"type\": \"object\",
  \"category\": [
    \"block\",
    \"component\",
    \"control\",
    \"fieldset\",
    \"grouping\"
  ],
  \"properties\": {
    \"_type\": {
      \"const\": \"fieldset\",
      \"title\": \"Data type\",
      \"type\": \"string\"
    },
    \"legendHtml\": {
      \"title\": \"Legend\",
      \"description\": \"Text to use in fieldset legend\",
      \"type\": \"string\"
    },
    \"legendHintHtml\": {
      \"title\": \"Hint\",
      \"description\": \"Hint text to use in fieldset legend\",
      \"type\": \"string\"
    },
    \"multiple\": {
      \"type\": \"boolean\"
    },
    \"multipleMinimum\": {
      \"type\": \"number\",
      \"minimum\": 0,
      \"default\": 1
    },
    \"multipleMaximum\": {
      \"type\": \"number\",
      \"minimum\": 0
    },
    \"model\": {
      \"title\": \"Model to store field in\",
      \"type\": \"string\"
    },
    \"modelProtect\": {
      \"title\": \"Whether to prevent the block’s model being overridden or appended \",
      \"type\": \"boolean\",
      \"default\": false
    },
    \"items\": {
      \"title\": \"Items\",
      \"type\": \"array\",
      \"items\": {
        \"type\": \"object\",
        \"category\": [
          \"component\",
          \"block\"
        ]
      }
    },
    \"show\": {
      \"title\": \"Whether to show block or not\",
      \"oneOf\": [
        {
          \"$ref\": \"http://gov.uk/schema/v1.0.0/condition#/definitions/booleanOrCondition\"
        }
      ],
      \"default\": true
    },
    \"_id\": {
      \"title\": \"Data ID\",
      \"type\": \"string\"
    },
    \"_isa\": {
      \"title\": \"Reference to data based on\",
      \"description\": \"Id of referenced data current data inherits property values from\",
      \"type\": \"string\",
      \"blockReference\": true
    },
    \"id\": {
      \"title\": \"Additional HTML id\",
      \"type\": \"string\"
    },
    \"classes\": {
      \"title\": \"Additional HTML classes\",
      \"type\": \"string\"
    },
    \"attributes\": {
      \"title\": \"Additional HTML attributes\",
      \"type\": \"object\"
    }
  },
  \"required\": [
    \"_id\",
    \"_type\",
    \"legendHtml\"
  ]
}
```
"
}) }}

        