---
title: Radio option
description: Component that provides a radio option
section: Components
theme: option
aliases:
backlog_issue_id:
layout: layout-pane.njk
---

{% from "_specExample.njk" import specExample %}
{% from "table/macro.njk" import govukTable %}
{% from "details/macro.njk" import govukDetails %}

This component can only be used as a [radios](../radios) option item and has no template of its own.



{{ govukTable({
  "caption": "Schema properties",
  "firstCellIsHeader": true,
  "head": [
    {
      "text": "Property"
    },
    {
      "text": "Type"
    },
    {
      "text": "Required"
    },
    {
      "text": "Description"
    },
    {
      "text": "Default"
    }
  ],
  "rows": [
  [
    {
      "text": "_id"
    },
    {
      "text": "string"
    },
    {
      "text": "yes"
    },
    {
      "html": "Data ID"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "_type"
    },
    {
      "text": "string"
    },
    {
      "text": "yes"
    },
    {
      "html": "Data type"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "label"
    },
    {
      "text": "string"
    },
    {
      "text": "yes"
    },
    {
      "html": "Label"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "value"
    },
    {
      "text": "string"
    },
    {
      "text": "yes"
    },
    {
      "html": "Option value"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "_isa"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Based on"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "hint"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Hint text"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "show"
    },
    {},
    {
      "text": "no"
    },
    {
      "html": "Whether to show block or not"
    },
    {
      "html": true
    }
  ]
]
}) }}

{{ govukDetails({
  "summaryText": "Raw schema",
  "html": "
```
{
  \"$id\": \"http://gov.uk/schema/v1.0.0/radio\",
  \"title\": \"Radio option\",
  \"description\": \"Component that provides a radio option\",
  \"type\": \"object\",
  \"properties\": {
    \"_type\": {
      \"const\": \"radio\"
    }
  },
  \"allOf\": [
    {
      \"$ref\": \"/schema/v1.0.0/definitions#/definitions/option\"
    }
  ],
  \"required\": [
    \"label\"
  ]
}
```
"
}) }}

{{ govukDetails({
  "summaryText": "Expanded schema",
  "html": "
```
{
  \"$id\": \"http://gov.uk/schema/v1.0.0/radio\",
  \"title\": \"Radio option\",
  \"description\": \"Component that provides a radio option\",
  \"type\": \"object\",
  \"properties\": {
    \"_type\": {
      \"const\": \"radio\",
      \"title\": \"Data type\",
      \"type\": \"string\"
    },
    \"value\": {
      \"title\": \"Option value\",
      \"type\": \"string\"
    },
    \"show\": {
      \"title\": \"Whether to show block or not\",
      \"oneOf\": [
        {
          \"$ref\": \"http://gov.uk/schema/v1.0.0/condition#/definitions/booleanOrCondition\"
        }
      ],
      \"default\": true
    },
    \"_id\": {
      \"title\": \"Data ID\",
      \"type\": \"string\"
    },
    \"_isa\": {
      \"title\": \"Based on\",
      \"type\": \"string\",
      \"blockReference\": true
    },
    \"label\": {
      \"title\": \"Label\",
      \"type\": \"string\"
    },
    \"hint\": {
      \"title\": \"Hint text\",
      \"type\": \"string\"
    }
  },
  \"required\": [
    \"_id\",
    \"_type\",
    \"label\",
    \"value\"
  ],
  \"category\": [
    \"component\",
    \"option\"
  ]
}
```
"
}) }}

        