---
layout: layout-specification.njk
---
{%- macro checkboxes(data) %}
{% set params = setError(data) %}
{% set params = setItemsLabel(params) %}
{% set params = setInputWidthClass(params) %}
{{ callMacro('govukCheckboxes', params) }}
{% endmacro -%}{%- macro content(data) %}
<div class="govuk-prose-scope fb-content">
{% set params = setContent(data) %}
{{ params.html | safe }}
</div>
{% endmacro -%}{%- macro date(data) %}
{% set params = setError(data) %}
{% set params = setLabel(params) %}
{% set params = setItemsLabel(params) %}
{% set params = setInputWidthClass(params) %}
{% set params = setObject(data, {
  items:[
    {
      name: 'day'
    },
    {
      name: 'month'
    },
    {
      name: 'year'
    }
  ]
}) %}
{{ callMacro('govukDateInput', params) }}
{% endmacro -%}{%- macro details(data) %}
{% set params = setError(data) %}
{% set params = setObject(params, {
  summaryHtml: params.summary
}) %}
{{ callMacro('govukDetails', params) }}
{% endmacro -%}{% macro fieldset(data) -%}
{% set params = setError(data) %}
{% set params = setItemsLabel(params) %}
{% call callMacro('govukFieldset', params) -%}
{{ callBlocks(data.components) }}
{%- endcall %}
{%- endmacro %}{%- macro group(data) %}
<div class="fb-group">
{{- callBlocks(data.components) -}}
</div>
{% endmacro -%}{%- macro number(data) %}
{% set params = setError(data) %}
{% set params = setLabel(params) %}
{% set params = setInputWidthClass(params, '10') %}
{{ callMacro('govukInput', params) }}
{% endmacro -%}{%- macro radios(data) %}
{% set params = setError(data) %}
{% set params = setItemsLabel(params) %}
{% set params = setInputWidthClass(params) %}
{{ callMacro('govukRadios', params) }}
{% endmacro -%}{% macro section(data) -%}
<section class="govuk-prose-scope fb-section">
{% if data.heading -%}
<h2>{{ data.heading }}</h2>
{%- endif %}
{% if data.lede -%}
<p class="fb-section--lede">{{ data.lede }}</p>
{%- endif %}
{% if data.content -%}
<div class="fb-section--content">{{ data.content }}</div>
{%- endif %}
{{- callBlocks(data.components) -}}
</section>
{%- endmacro %}{%- macro select(data) %}
{% set params = setError(data) %}
{% set params = setLabel(params) %}
{% set params = setItemsLabel(params) %}
{% set params = setInputWidthClass(params) %}
{{ callMacro('govukSelect', params) }}
{% endmacro -%}{%- macro table(data) %}
{{ callMacro('govukTable', data) }}
{% endmacro -%}{%- macro text(data) %}
{% set params = setError(data) %}
{% set params = setLabel(params) %}
{% set params = setInputWidthClass(params) %}
{{ callMacro('govukInput', params) }}
{% endmacro -%}{%- macro textarea(data) %}
{% set params = setError(data) %}
{% set params = setLabel(params) %}
{% set params = setInputWidthClass(params) %}
{{ callMacro('govukTextarea', params) }}
{% endmacro -%}{%- macro warningText(data) %}
{% set params = setError(data) %}
{{ callMacro('govukWarningText', params) }}
{% endmacro -%}{% from "checkboxes/macro.njk" import govukCheckboxes %}{% from "date-input/macro.njk" import govukDateInput %}{% from "details/macro.njk" import govukDetails %}{% from "fieldset/macro.njk" import govukFieldset %}{% from "input/macro.njk" import govukInput %}{% from "radios/macro.njk" import govukRadios %}{% from "select/macro.njk" import govukSelect %}{% from "table/macro.njk" import govukTable %}{% from "input/macro.njk" import govukInput %}{% from "textarea/macro.njk" import govukTextarea %}{% from "warning-text/macro.njk" import govukWarningText %}{% set $macros = {
checkboxes: checkboxes,
content: content,
date: date,
details: details,
fieldset: fieldset,
group: group,
number: number,
radios: radios,
section: section,
select: select,
table: table,
text: text,
textarea: textarea,
warningText: warningText,
govukCheckboxes: govukCheckboxes,
govukDateInput: govukDateInput,
govukDetails: govukDetails,
govukFieldset: govukFieldset,
govukInput: govukInput,
govukRadios: govukRadios,
govukSelect: govukSelect,
govukTable: govukTable,
govukInput: govukInput,
govukTextarea: govukTextarea,
govukWarningText: govukWarningText
} %}
{% macro callMacro(path, params) %}
{% if caller -%}
{% call $macros[path](data) -%}
{{ caller() }}
{%- endcall %}
{%- else -%}
{{ $macros[path](params)}}
{%- endif %}
{% endmacro %}
{% macro callBlock(params) %}
{{ callMacro(params._type, params)}}
{% endmacro %}
{% macro callBlocks(blocks) %}
{% for cblock in blocks %}
{{ callBlock(cblock)}}
{% endfor %}
{% endmacro %}

{% set data = {
  "_id": "componentId",
  "_type": "content",
  "html": "## Why we need to know this\n\nWe need to know your nationality so we can work out which elections you’re entitled to vote in.\n\nIf you can’t provide your nationality, you’ll have to send copies of identity documents through the post.\n\n- Passport\n- Driving licence\n- Bank statements"
} %}
{{ callBlock(data) }}
