---
title: Content
description: Component for creating content
section: Components
theme: content
aliases:
backlog_issue_id:
layout: layout-pane.njk
---

{% from "_specExample.njk" import specExample %}
{% from "table/macro.njk" import govukTable %}
{% from "details/macro.njk" import govukDetails %}
{% set $DesignSystem = 'https://govuk-design-system-production.cloudapps.digital' %}

Let users add content to a page.

Content is entered using the [Markdown format](https://guides.github.com/features/mastering-markdown/)


### Properties


{{ govukTable({
  "firstCellIsHeader": true,
  "head": [
    {
      "text": "Property"
    },
    {
      "text": "Type"
    },
    {
      "text": "Required"
    },
    {
      "text": "Description"
    },
    {
      "text": "Default"
    }
  ],
  "rows": [
  [
    {
      "text": "_id"
    },
    {
      "text": "string"
    },
    {
      "text": "yes"
    },
    {
      "html": "Data ID"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "_type"
    },
    {
      "text": "string"
    },
    {
      "text": "yes"
    },
    {
      "html": "Data type"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "html"
    },
    {
      "text": "string"
    },
    {
      "text": "yes"
    },
    {},
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "_isa"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Based on"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "show"
    },
    {},
    {
      "text": "no"
    },
    {
      "html": "Whether to show block or not"
    },
    {
      "html": true
    }
  ]
]
}) }}


### Examples


Basic example of content
{{ specExample({group: 'component', item: 'content', example: 'exampleContent', html: true, json: true, open: true}) }}

### Schema

{{ govukDetails({
  "summaryText": "Raw schema",
  "html": "
```
{
  \"$id\": \"http://gov.uk/schema/v1.0.0/content\",
  \"_name\": \"content\",
  \"title\": \"Content\",
  \"description\": \"Component for creating content\",
  \"type\": \"object\",
  \"category\": [
    \"content\"
  ],
  \"properties\": {
    \"_type\": {
      \"const\": \"content\"
    },
    \"html\": {
      \"type\": \"string\",
      \"multiline\": true
    }
  },
  \"allOf\": [
    {
      \"$ref\": \"http://gov.uk/schema/v1.0.0/definition/component\"
    }
  ],
  \"required\": [
    \"html\"
  ]
}
```
"
}) }}

{{ govukDetails({
  "summaryText": "Expanded schema",
  "html": "
```
{
  \"$id\": \"http://gov.uk/schema/v1.0.0/content\",
  \"_name\": \"content\",
  \"title\": \"Content\",
  \"description\": \"Component for creating content\",
  \"type\": \"object\",
  \"category\": [
    \"component\",
    \"content\",
    \"definition\"
  ],
  \"properties\": {
    \"_type\": {
      \"const\": \"content\",
      \"title\": \"Data type\",
      \"type\": \"string\"
    },
    \"html\": {
      \"type\": \"string\",
      \"multiline\": true
    },
    \"show\": {
      \"title\": \"Whether to show block or not\",
      \"oneOf\": [
        {
          \"$id\": \"http://gov.uk/schema/v1.0.0/definition/conditional.boolean\",
          \"_name\": \"conditional.boolean.definition\",
          \"title\": \"Boolean or condition\",
          \"type\": [
            \"boolean\",
            \"object\"
          ],
          \"oneOf\": [
            {
              \"type\": \"boolean\"
            },
            {
              \"$ref\": \"http://gov.uk/schema/v1.0.0/condition\"
            }
          ],
          \"category\": [
            \"definition\"
          ]
        }
      ],
      \"default\": true
    },
    \"_id\": {
      \"title\": \"Data ID\",
      \"type\": \"string\"
    },
    \"_isa\": {
      \"title\": \"Based on\",
      \"description\": \"Id of referenced data current data inherits property values from\",
      \"type\": \"string\",
      \"blockReference\": true
    }
  },
  \"required\": [
    \"_id\",
    \"_type\",
    \"html\"
  ]
}
```
"
}) }}





### Schema uses

- [Component definition](/definition/component)

### Categories

component, content

        