---
title: Input width class definition
description: undefined
section: Definitions
theme: 
aliases:
backlog_issue_id:
layout: layout-pane.njk
---

{% from "_specExample.njk" import specExample %}
{% from "table/macro.njk" import govukTable %}
{% from "details/macro.njk" import govukDetails %}
{% set $DesignSystem = 'https://govuk-design-system-production.cloudapps.digital' %}



### Properties


{{ govukTable({
  "firstCellIsHeader": true,
  "head": [
    {
      "text": "Property"
    },
    {
      "text": "Type"
    },
    {
      "text": "Required"
    },
    {
      "text": "Description"
    },
    {
      "text": "Default"
    }
  ],
  "rows": [
  [
    {
      "text": "widthClassInput"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {},
    {
      "html": "-"
    }
  ]
]
}) }}






### Schema

{{ govukDetails({
  "summaryText": "Raw schema",
  "html": "
```
{
  \"$id\": \"http://gov.uk/schema/v1.0.0/definition/widthclass/input\",
  \"_name\": \"definition.widthclass.input\",
  \"title\": \"Input width class definition\",
  \"properties\": {
    \"widthClassInput\": {
      \"type\": \"string\",
      \"enumMap\": \"widthClassMap\",
      \"enum\": [
        \"10\",
        \"20\",
        \"30\",
        \"three-quarters\",
        \"two-thirds\",
        \"one-half\",
        \"one-third\",
        \"one-quarter\"
      ]
    }
  },
  \"category\": [
    \"definition\"
  ]
}
```
"
}) }}

{{ govukDetails({
  "summaryText": "Expanded schema",
  "html": "
```
{
  \"$id\": \"http://gov.uk/schema/v1.0.0/definition/widthclass/input\",
  \"_name\": \"definition.widthclass.input\",
  \"title\": \"Input width class definition\",
  \"properties\": {
    \"widthClassInput\": {
      \"type\": \"string\",
      \"enumMap\": \"widthClassMap\",
      \"enum\": [
        \"10\",
        \"20\",
        \"30\",
        \"three-quarters\",
        \"two-thirds\",
        \"one-half\",
        \"one-third\",
        \"one-quarter\"
      ]
    }
  },
  \"category\": [
    \"definition\"
  ]
}
```
"
}) }}

### Schema used by

- [Number](/component/number)
- [Select](/component/select)
- [Text](/component/text)





### Categories

definition

        