---
title: Condition value type properties
description: undefined
section: Definitions
theme: 
aliases:
backlog_issue_id:
layout: layout-pane.njk
---

{% from "_specExample.njk" import specExample %}
{% from "table/macro.njk" import govukTable %}
{% from "details/macro.njk" import govukDetails %}
{% set $DesignSystem = 'https://govuk-design-system-production.cloudapps.digital' %}



### Properties


{{ govukTable({
  "firstCellIsHeader": true,
  "head": [
    {
      "text": "Property"
    },
    {
      "text": "Type"
    },
    {
      "text": "Required"
    },
    {
      "text": "Description"
    },
    {
      "text": "Default"
    }
  ],
  "rows": [
  [
    {
      "text": "valueType"
    },
    {
      "text": "string"
    },
    {
      "text": "yes"
    },
    {},
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "value"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {},
    {
      "html": "-"
    }
  ]
]
}) }}






### Schema

{{ govukDetails({
  "summaryText": "Raw schema",
  "html": "
```
{
  \"$id\": \"http://gov.uk/schema/v1.0.0/definition/condition/valuetype\",
  \"_name\": \"definition.condition.valuetype\",
  \"title\": \"Condition value type properties\",
  \"properties\": {
    \"value\": {
      \"type\": \"string\"
    },
    \"valueType\": {
      \"type\": \"string\",
      \"enum\": [
        \"value\",
        \"input\",
        \"feature\"
      ]
    }
  },
  \"required\": [
    \"valueType\"
  ],
  \"category\": [
    \"definition\"
  ]
}
```
"
}) }}

{{ govukDetails({
  "summaryText": "Expanded schema",
  "html": "
```
{
  \"$id\": \"http://gov.uk/schema/v1.0.0/definition/condition/valuetype\",
  \"_name\": \"definition.condition.valuetype\",
  \"title\": \"Condition value type properties\",
  \"properties\": {
    \"value\": {
      \"type\": \"string\"
    },
    \"valueType\": {
      \"type\": \"string\",
      \"enum\": [
        \"value\",
        \"input\",
        \"feature\"
      ]
    }
  },
  \"required\": [
    \"valueType\"
  ],
  \"category\": [
    \"definition\"
  ]
}
```
"
}) }}

### Schema used by

- [Number condition properties](/definition/condition/number)
- [Text condition properties](/definition/condition/text)





### Categories

definition

        