---
title: Checkboxes
description: Component that provides a checkbox fieldset
section: Components
theme: control
aliases:
backlog_issue_id:
layout: layout-pane.njk
---

{% from "_specExample.njk" import specExample %}
{% from "table/macro.njk" import govukTable %}
{% from "details/macro.njk" import govukDetails %}
{% set $DesignSystem = 'https://govuk-design-system-production.cloudapps.digital' %}

Let users select one or more options by using the Checkboxes component.

Options for checkboxes must be valid [checkbox options](../checkbox)

[Read more about when to use checkboxes on the GOV.UK Design System]({{ $DesignSystem }}/components/checkboxes)



### Properties


{{ govukTable({
  "firstCellIsHeader": true,
  "head": [
    {
      "text": "Property"
    },
    {
      "text": "Type"
    },
    {
      "text": "Required"
    },
    {
      "text": "Description"
    },
    {
      "text": "Default"
    }
  ],
  "rows": [
  [
    {
      "text": "_id"
    },
    {
      "text": "string"
    },
    {
      "text": "yes"
    },
    {
      "html": "Data ID"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "_type"
    },
    {
      "text": "string"
    },
    {
      "text": "yes"
    },
    {
      "html": "Data type"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "legend"
    },
    {
      "text": "string"
    },
    {
      "text": "yes"
    },
    {
      "html": "Legend"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "_isa"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Based on"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "attributes"
    },
    {
      "text": "object"
    },
    {
      "text": "no"
    },
    {
      "html": "Additional HTML attributes"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "classes"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Additional HTML classes"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "disabled"
    },
    {},
    {
      "text": "no"
    },
    {
      "html": "Disabled"
    },
    {
      "html": false
    }
  ],
  [
    {
      "text": "errors"
    },
    {},
    {
      "text": "no"
    },
    {},
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "hint"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Hint text"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "id"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Additional HTML id"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "items"
    },
    {
      "text": "array"
    },
    {
      "text": "no"
    },
    {},
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "model"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Model to store field in"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "modelProtect"
    },
    {
      "text": "boolean"
    },
    {
      "text": "no"
    },
    {
      "html": "Whether to prevent the block’s model being overridden or appended "
    },
    {
      "html": false
    }
  ],
  [
    {
      "text": "name"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Input name"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "show"
    },
    {},
    {
      "text": "no"
    },
    {
      "html": "Whether to show block or not"
    },
    {
      "html": true
    }
  ],
  [
    {
      "text": "validation"
    },
    {},
    {
      "text": "no"
    },
    {},
    {
      "html": "-"
    }
  ]
]
}) }}


### Examples


Basic checkboxes example
{{ specExample({group: 'component', item: 'checkboxes', example: 'exampleCheckboxes', html: true, json: true, open: true}) }}

### Schema

{{ govukDetails({
  "summaryText": "Raw schema",
  "html": "
```
{
  \"$id\": \"http://gov.uk/schema/v1.0.0/checkboxes\",
  \"_name\": \"checkboxes\",
  \"title\": \"Checkboxes\",
  \"description\": \"Component that provides a checkbox fieldset\",
  \"type\": \"object\",
  \"properties\": {
    \"_type\": {
      \"const\": \"checkboxes\"
    },
    \"items\": {
      \"type\": \"array\",
      \"items\": [
        {
          \"$ref\": \"/schema/v1.0.0/checkbox#\"
        }
      ]
    }
  },
  \"allOf\": [
    {
      \"$ref\": \"http://gov.uk/schema/v1.0.0/definition/fieldset\"
    },
    {
      \"$ref\": \"http://gov.uk/schema/v1.0.0/definition/name\"
    }
  ]
}
```
"
}) }}

{{ govukDetails({
  "summaryText": "Expanded schema",
  "html": "
```
{
  \"$id\": \"http://gov.uk/schema/v1.0.0/checkboxes\",
  \"_name\": \"checkboxes\",
  \"title\": \"Checkboxes\",
  \"description\": \"Component that provides a checkbox fieldset\",
  \"type\": \"object\",
  \"properties\": {
    \"_type\": {
      \"const\": \"checkboxes\",
      \"title\": \"Data type\",
      \"type\": \"string\"
    },
    \"items\": {
      \"type\": \"array\",
      \"items\": [
        {
          \"$id\": \"http://gov.uk/schema/v1.0.0/checkbox\",
          \"_name\": \"checkbox\",
          \"title\": \"Checkbox item\",
          \"description\": \"Component that provides a checkbox item\",
          \"type\": \"object\",
          \"required\": [
            \"_id\",
            \"_type\",
            \"name\",
            \"value\"
          ],
          \"category\": [
            \"component\",
            \"definition\",
            \"option\"
          ],
          \"properties\": {
            \"_type\": {
              \"const\": \"checkbox\",
              \"title\": \"Data type\",
              \"type\": \"string\"
            },
            \"model\": {
              \"title\": \"Model to store field in\",
              \"type\": \"string\"
            },
            \"modelProtect\": {
              \"title\": \"Whether to prevent the block’s model being overridden or appended \",
              \"type\": \"boolean\",
              \"default\": false
            },
            \"value\": {
              \"title\": \"Option value\",
              \"type\": \"string\"
            },
            \"show\": {
              \"title\": \"Whether to show block or not\",
              \"oneOf\": [
                {
                  \"$id\": \"http://gov.uk/schema/v1.0.0/definition/conditional.boolean\",
                  \"_name\": \"conditional.boolean.definition\",
                  \"title\": \"Boolean or condition\",
                  \"type\": [
                    \"boolean\",
                    \"object\"
                  ],
                  \"oneOf\": [
                    {
                      \"type\": \"boolean\"
                    },
                    {
                      \"$ref\": \"http://gov.uk/schema/v1.0.0/definition/condition\"
                    }
                  ],
                  \"category\": [
                    \"definition\"
                  ]
                }
              ],
              \"default\": true
            },
            \"_id\": {
              \"title\": \"Data ID\",
              \"type\": \"string\"
            },
            \"_isa\": {
              \"title\": \"Based on\",
              \"description\": \"Id of referenced data current data inherits property values from\",
              \"type\": \"string\",
              \"blockReference\": true
            }
          }
        }
      ]
    },
    \"legend\": {
      \"title\": \"Legend\",
      \"type\": \"string\"
    },
    \"hint\": {
      \"title\": \"Hint text\",
      \"type\": \"string\"
    },
    \"disabled\": {
      \"title\": \"Disabled\",
      \"oneOf\": [
        {
          \"$id\": \"http://gov.uk/schema/v1.0.0/definition/conditional.boolean\",
          \"_name\": \"conditional.boolean.definition\",
          \"title\": \"Boolean or condition\",
          \"type\": [
            \"boolean\",
            \"object\"
          ],
          \"oneOf\": [
            {
              \"type\": \"boolean\"
            },
            {
              \"$ref\": \"http://gov.uk/schema/v1.0.0/definition/condition\"
            }
          ],
          \"category\": [
            \"definition\"
          ]
        }
      ],
      \"default\": false
    },
    \"show\": {
      \"title\": \"Whether to show block or not\",
      \"oneOf\": [
        {
          \"$id\": \"http://gov.uk/schema/v1.0.0/definition/conditional.boolean\",
          \"_name\": \"conditional.boolean.definition\",
          \"title\": \"Boolean or condition\",
          \"type\": [
            \"boolean\",
            \"object\"
          ],
          \"oneOf\": [
            {
              \"type\": \"boolean\"
            },
            {
              \"$ref\": \"http://gov.uk/schema/v1.0.0/definition/condition\"
            }
          ],
          \"category\": [
            \"definition\"
          ]
        }
      ],
      \"default\": true
    },
    \"_id\": {
      \"title\": \"Data ID\",
      \"type\": \"string\"
    },
    \"_isa\": {
      \"title\": \"Based on\",
      \"description\": \"Id of referenced data current data inherits property values from\",
      \"type\": \"string\",
      \"blockReference\": true
    },
    \"id\": {
      \"title\": \"Additional HTML id\",
      \"type\": \"string\"
    },
    \"classes\": {
      \"title\": \"Additional HTML classes\",
      \"type\": \"string\"
    },
    \"attributes\": {
      \"title\": \"Additional HTML attributes\",
      \"type\": \"object\"
    },
    \"model\": {
      \"title\": \"Model to store field in\",
      \"type\": \"string\"
    },
    \"modelProtect\": {
      \"title\": \"Whether to prevent the block’s model being overridden or appended \",
      \"type\": \"boolean\",
      \"default\": false
    },
    \"validation\": {
      \"role\": \"validation\",
      \"properties\": {
        \"required\": {
          \"title\": \"Required\",
          \"oneOf\": [
            {
              \"$id\": \"http://gov.uk/schema/v1.0.0/definition/conditional.boolean\",
              \"_name\": \"conditional.boolean.definition\",
              \"title\": \"Boolean or condition\",
              \"type\": [
                \"boolean\",
                \"object\"
              ],
              \"oneOf\": [
                {
                  \"type\": \"boolean\"
                },
                {
                  \"$ref\": \"http://gov.uk/schema/v1.0.0/definition/condition\"
                }
              ],
              \"category\": [
                \"definition\"
              ]
            }
          ],
          \"default\": true
        }
      }
    },
    \"errors\": {
      \"role\": \"errorStrings\",
      \"properties\": {
        \"required\": {
          \"title\": \"Error strings for required\",
          \"type\": \"object\",
          \"properties\": {
            \"inline\": {
              \"type\": \"string\",
              \"role\": \"errorString\"
            },
            \"summary\": {
              \"type\": \"string\",
              \"role\": \"errorString\"
            }
          }
        }
      }
    },
    \"name\": {
      \"title\": \"Input name\",
      \"type\": \"string\"
    }
  },
  \"required\": [
    \"_id\",
    \"_type\",
    \"legend\"
  ],
  \"category\": [
    \"component\",
    \"control\",
    \"definition\"
  ]
}
```
"
}) }}





### Schema uses

- [Fieldset definition](/definition/fieldset)
- [Name definition](/definition/name)

### Categories

component, control

        