---
title: Date
description: Component that provides a composite date input field
section: Components
theme: control
aliases:
backlog_issue_id:
layout: layout-pane.njk
---

{% from "_specExample.njk" import specExample %}
{% from "table/macro.njk" import govukTable %}
{% from "details/macro.njk" import govukDetails %}
{% set $DesignSystem = 'https://govuk-design-system-production.cloudapps.digital' %}

Use the Date component to help users enter a date.

[Read more about when to use the date component on the GOV.UK Design System]({{ $DesignSystem }}/components/date-input)

### Properties


{{ govukTable({
  "firstCellIsHeader": true,
  "head": [
    {
      "text": "Property"
    },
    {
      "text": "Type"
    },
    {
      "text": "Required"
    },
    {
      "text": "Description"
    },
    {
      "text": "Default"
    }
  ],
  "rows": [
  [
    {
      "text": "_id"
    },
    {
      "text": "string"
    },
    {
      "text": "yes"
    },
    {
      "html": "Data ID"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "_type"
    },
    {
      "text": "string"
    },
    {
      "text": "yes"
    },
    {
      "html": "Data type"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "label"
    },
    {
      "text": "string"
    },
    {
      "text": "yes"
    },
    {
      "html": "Label"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "name"
    },
    {
      "text": "string"
    },
    {
      "text": "yes"
    },
    {
      "html": "Input name"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "_isa"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Reference to data based on"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "attributes"
    },
    {
      "text": "object"
    },
    {
      "text": "no"
    },
    {
      "html": "Additional HTML attributes"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "classes"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Additional HTML classes"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "dateType"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Date type"
    },
    {
      "html": "day-month-year"
    }
  ],
  [
    {
      "text": "disabled"
    },
    {},
    {
      "text": "no"
    },
    {
      "html": "Disabled"
    },
    {
      "html": false
    }
  ],
  [
    {
      "text": "errors"
    },
    {},
    {
      "text": "no"
    },
    {},
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "hint"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Hint text"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "id"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Additional HTML id"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "model"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Model to store field in"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "modelProtect"
    },
    {
      "text": "boolean"
    },
    {
      "text": "no"
    },
    {
      "html": "Whether to prevent the block’s model being overridden or appended "
    },
    {
      "html": false
    }
  ],
  [
    {
      "text": "show"
    },
    {},
    {
      "text": "no"
    },
    {
      "html": "Whether to show block or not"
    },
    {
      "html": true
    }
  ],
  [
    {
      "text": "validation"
    },
    {},
    {
      "text": "no"
    },
    {},
    {
      "html": "-"
    }
  ]
]
}) }}


### Examples


Basic date example
{{ specExample({group: 'component', item: 'date', example: 'exampleDate', html: true, json: true, open: true}) }}

### Schema

{{ govukDetails({
  "summaryText": "Raw schema",
  "html": "
```
{
  \"$id\": \"http://gov.uk/schema/v1.0.0/date\",
  \"title\": \"Date\",
  \"description\": \"Component that provides a composite date input field\",
  \"type\": \"object\",
  \"properties\": {
    \"_type\": {
      \"const\": \"date\"
    },
    \"dateType\": {
      \"title\": \"Date type\",
      \"type\": \"string\",
      \"enum\": [
        \"day-month-year\",
        \"month-year\",
        \"day-month\",
        \"year\"
      ],
      \"default\": \"day-month-year\"
    },
    \"validation\": {
      \"properties\": {
        \"formatMinimum\": {
          \"$ref\": \"#/definitions/validDate\"
        },
        \"formatMaximum\": {
          \"$ref\": \"#/definitions/validDate\"
        }
      }
    }
  },
  \"allOf\": [
    {
      \"$ref\": \"/schema/v1.0.0/definitions#/definitions/field\"
    }
  ],
  \"definitions\": {
    \"dateTypeEnum\": {
      \"day-month-year\": \"Day / Month / Year\",
      \"month-year\": \"Month / Year\",
      \"year\": \"Year\",
      \"day-month\": \"Day / Month\"
    },
    \"validDate\": {
      \"oneOf\": [
        {
          \"type\": \"string\",
          \"format\": \"date\"
        },
        {
          \"type\": \"string\",
          \"pattern\": \"^\\d+\\w$\"
        }
      ]
    }
  }
}
```
"
}) }}

{{ govukDetails({
  "summaryText": "Expanded schema",
  "html": "
```
{
  \"$id\": \"http://gov.uk/schema/v1.0.0/date\",
  \"title\": \"Date\",
  \"description\": \"Component that provides a composite date input field\",
  \"type\": \"object\",
  \"properties\": {
    \"_type\": {
      \"const\": \"date\",
      \"title\": \"Data type\",
      \"type\": \"string\"
    },
    \"dateType\": {
      \"title\": \"Date type\",
      \"type\": \"string\",
      \"enum\": [
        \"day-month-year\",
        \"month-year\",
        \"day-month\",
        \"year\"
      ],
      \"default\": \"day-month-year\"
    },
    \"validation\": {
      \"role\": \"validation\",
      \"properties\": {
        \"formatMinimum\": {
          \"oneOf\": [
            {
              \"type\": \"string\",
              \"format\": \"date\"
            },
            {
              \"type\": \"string\",
              \"pattern\": \"^\\d+\\w$\"
            }
          ]
        },
        \"formatMaximum\": {
          \"oneOf\": [
            {
              \"type\": \"string\",
              \"format\": \"date\"
            },
            {
              \"type\": \"string\",
              \"pattern\": \"^\\d+\\w$\"
            }
          ]
        },
        \"required\": {
          \"title\": \"Required\",
          \"oneOf\": [
            {
              \"$ref\": \"http://gov.uk/schema/v1.0.0/condition#/definitions/booleanOrCondition\"
            }
          ],
          \"default\": true
        }
      }
    },
    \"name\": {
      \"title\": \"Input name\",
      \"type\": \"string\"
    },
    \"disabled\": {
      \"title\": \"Disabled\",
      \"oneOf\": [
        {
          \"$ref\": \"http://gov.uk/schema/v1.0.0/condition#/definitions/booleanOrCondition\"
        }
      ],
      \"default\": false
    },
    \"show\": {
      \"title\": \"Whether to show block or not\",
      \"oneOf\": [
        {
          \"$ref\": \"http://gov.uk/schema/v1.0.0/condition#/definitions/booleanOrCondition\"
        }
      ],
      \"default\": true
    },
    \"_id\": {
      \"title\": \"Data ID\",
      \"type\": \"string\"
    },
    \"_isa\": {
      \"title\": \"Reference to data based on\",
      \"description\": \"Id of referenced data current data inherits property values from\",
      \"type\": \"string\",
      \"blockReference\": true
    },
    \"id\": {
      \"title\": \"Additional HTML id\",
      \"type\": \"string\"
    },
    \"classes\": {
      \"title\": \"Additional HTML classes\",
      \"type\": \"string\"
    },
    \"attributes\": {
      \"title\": \"Additional HTML attributes\",
      \"type\": \"object\"
    },
    \"model\": {
      \"title\": \"Model to store field in\",
      \"type\": \"string\"
    },
    \"modelProtect\": {
      \"title\": \"Whether to prevent the block’s model being overridden or appended \",
      \"type\": \"boolean\",
      \"default\": false
    },
    \"errors\": {
      \"role\": \"errorStrings\",
      \"properties\": {
        \"required\": {
          \"title\": \"Error strings for required\",
          \"type\": \"object\",
          \"properties\": {
            \"inline\": {
              \"type\": \"string\",
              \"role\": \"errorString\"
            },
            \"summary\": {
              \"type\": \"string\",
              \"role\": \"errorString\"
            }
          }
        }
      }
    },
    \"label\": {
      \"title\": \"Label\",
      \"type\": \"string\"
    },
    \"hint\": {
      \"title\": \"Hint text\",
      \"type\": \"string\"
    }
  },
  \"definitions\": {
    \"dateTypeEnum\": {
      \"day-month-year\": \"Day / Month / Year\",
      \"month-year\": \"Month / Year\",
      \"year\": \"Year\",
      \"day-month\": \"Day / Month\"
    },
    \"validDate\": {
      \"oneOf\": [
        {
          \"type\": \"string\",
          \"format\": \"date\"
        },
        {
          \"type\": \"string\",
          \"pattern\": \"^\\d+\\w$\"
        }
      ]
    }
  },
  \"category\": [
    \"block\",
    \"component\",
    \"control\",
    \"field\"
  ],
  \"required\": [
    \"_id\",
    \"_type\",
    \"label\",
    \"name\"
  ]
}
```
"
}) }}

        