---
title: Date
description: Component that provides a composite date input field
section: Components
aliases:
backlog_issue_id:
layout: layout-pane.njk
---

```
{
  "$id": "http://gov.uk/schema/date/v1.0.0",
  "title": "Date",
  "description": "Component that provides a composite date input field",
  "type": "object",
  "properties": {
    "_type": {
      "const": "date",
      "title": "Data type",
      "type": "string"
    },
    "dateType": {
      "title": "Date type",
      "type": "string",
      "enum": [
        "day-month-year",
        "month-year",
        "day-month",
        "year"
      ],
      "default": "day-month-year"
    },
    "validation": {
      "role": "validation",
      "properties": {
        "formatMinimum": {
          "oneOf": [
            {
              "type": "string",
              "format": "date"
            },
            {
              "type": "string",
              "pattern": "^\\d+\\w$"
            }
          ]
        },
        "formatMaximum": {
          "oneOf": [
            {
              "type": "string",
              "format": "date"
            },
            {
              "type": "string",
              "pattern": "^\\d+\\w$"
            }
          ]
        },
        "required": {
          "title": "Required",
          "oneOf": [
            {
              "$ref": "http://gov.uk/schema/condition/v1.0.0#/definitions/booleanOrCondition"
            }
          ],
          "default": true
        }
      }
    },
    "name": {
      "title": "Input name",
      "type": "string"
    },
    "disabled": {
      "title": "Disabled",
      "oneOf": [
        {
          "$ref": "http://gov.uk/schema/condition/v1.0.0#/definitions/booleanOrCondition"
        }
      ],
      "default": false
    },
    "show": {
      "title": "Whether to show block or not",
      "oneOf": [
        {
          "$ref": "http://gov.uk/schema/condition/v1.0.0#/definitions/booleanOrCondition"
        }
      ],
      "default": true
    },
    "_id": {
      "title": "Data ID",
      "type": "string"
    },
    "_isa": {
      "title": "Based on",
      "type": "string",
      "blockReference": true
    },
    "id": {
      "type": "string"
    },
    "classes": {
      "title": "Additional HTML classes",
      "type": "string"
    },
    "attributes": {
      "title": "Additional HTML attributes",
      "type": "object"
    },
    "model": {
      "title": "Model to store field in",
      "type": "string"
    },
    "modelProtect": {
      "type": "boolean",
      "default": false
    },
    "errors": {
      "role": "errorStrings",
      "properties": {
        "required": {
          "title": "Error strings for required",
          "type": "object",
          "properties": {
            "inline": {
              "type": "string",
              "role": "errorString"
            },
            "summary": {
              "type": "string",
              "role": "errorString"
            }
          }
        }
      }
    },
    "label": {
      "title": "Label",
      "type": "string"
    },
    "hint": {
      "title": "Hint text",
      "type": "string"
    }
  },
  "definitions": {
    "dateTypeEnum": {
      "day-month-year": "Day / Month / Year",
      "month-year": "Month / Year",
      "year": "Year",
      "day-month": "Day / Month"
    },
    "validDate": {
      "oneOf": [
        {
          "type": "string",
          "format": "date"
        },
        {
          "type": "string",
          "pattern": "^\\d+\\w$"
        }
      ]
    }
  },
  "category": [
    "block",
    "component",
    "control",
    "field"
  ],
  "required": [
    "_id",
    "_type",
    "label",
    "name"
  ]
}
```
        