---
title: Service
description: Service configuration
section: Configuration
theme: 
aliases:
backlog_issue_id:
layout: layout-pane.njk
---

{% from "_specExample.njk" import specExample %}
{% from "table/macro.njk" import govukTable %}
{% from "details/macro.njk" import govukDetails %}
{% set $DesignSystem = 'https://govuk-design-system-production.cloudapps.digital' %}

Service provides standard configuration properties for the service

- name
- phase

### Properties


{{ govukTable({
  "firstCellIsHeader": true,
  "head": [
    {
      "text": "Property"
    },
    {
      "text": "Type"
    },
    {
      "text": "Required"
    },
    {
      "text": "Description"
    },
    {
      "text": "Default"
    }
  ],
  "rows": [
  [
    {
      "text": "_id"
    },
    {
      "text": "string"
    },
    {
      "text": "yes"
    },
    {
      "html": "Data ID"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "_type"
    },
    {
      "text": "string"
    },
    {
      "text": "yes"
    },
    {
      "html": "Data type"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "name"
    },
    {
      "text": "string"
    },
    {
      "text": "yes"
    },
    {},
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "phase"
    },
    {
      "text": "string"
    },
    {
      "text": "yes"
    },
    {},
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "phaseText"
    },
    {
      "text": "string"
    },
    {
      "text": "yes"
    },
    {},
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "_isa"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Reference to data based on"
    },
    {
      "html": "-"
    }
  ]
]
}) }}






### Schema

{{ govukDetails({
  "summaryText": "Raw schema",
  "html": "
```
{
  \"$id\": \"http://gov.uk/schema/v1.0.0/Service\",
  \"title\": \"Service\",
  \"description\": \"Service configuration\",
  \"type\": \"object\",
  \"properties\": {
    \"_id\": {
      \"const\": \"Service\"
    },
    \"_type\": {
      \"const\": \"Service\"
    },
    \"name\": {
      \"type\": \"string\"
    },
    \"phase\": {
      \"type\": \"string\",
      \"enum\": [
        \"\",
        \"alpha\",
        \"beta\"
      ]
    },
    \"phaseText\": {
      \"type\": \"string\"
    }
  },
  \"allOf\": [
    {
      \"$ref\": \"/schema/v1.0.0/definitions#/definitions/data\"
    }
  ],
  \"category\": [
    \"configuration\"
  ],
  \"required\": [
    \"name\",
    \"phase\",
    \"phaseText\"
  ]
}
```
"
}) }}

{{ govukDetails({
  "summaryText": "Expanded schema",
  "html": "
```
{
  \"$id\": \"http://gov.uk/schema/v1.0.0/Service\",
  \"title\": \"Service\",
  \"description\": \"Service configuration\",
  \"type\": \"object\",
  \"properties\": {
    \"_id\": {
      \"const\": \"Service\",
      \"title\": \"Data ID\",
      \"type\": \"string\"
    },
    \"_type\": {
      \"const\": \"Service\",
      \"title\": \"Data type\",
      \"type\": \"string\"
    },
    \"name\": {
      \"type\": \"string\"
    },
    \"phase\": {
      \"type\": \"string\",
      \"enum\": [
        \"\",
        \"alpha\",
        \"beta\"
      ]
    },
    \"phaseText\": {
      \"type\": \"string\"
    },
    \"_isa\": {
      \"title\": \"Reference to data based on\",
      \"description\": \"Id of referenced data current data inherits property values from\",
      \"type\": \"string\",
      \"blockReference\": true
    }
  },
  \"category\": [
    \"configuration\"
  ],
  \"required\": [
    \"_id\",
    \"_type\",
    \"name\",
    \"phase\",
    \"phaseText\"
  ]
}
```
"
}) }}

        