---
title: Select option
description: Component that provides a select option
section: Components
theme: option
aliases:
backlog_issue_id:
layout: layout-pane.njk
---

{% from "_specExample.njk" import specExample %}
{% from "table/macro.njk" import govukTable %}
{% from "details/macro.njk" import govukDetails %}
{% set $DesignSystem = 'https://govuk-design-system-production.cloudapps.digital' %}

This component can only be used as a [select](../select) option item and has no template of its own.

### Properties


{{ govukTable({
  "firstCellIsHeader": true,
  "head": [
    {
      "text": "Property"
    },
    {
      "text": "Type"
    },
    {
      "text": "Required"
    },
    {
      "text": "Description"
    },
    {
      "text": "Default"
    }
  ],
  "rows": [
  [
    {
      "text": "_id"
    },
    {
      "text": "string"
    },
    {
      "text": "yes"
    },
    {
      "html": "Data ID"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "_type"
    },
    {
      "text": "string"
    },
    {
      "text": "yes"
    },
    {
      "html": "Data type"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "option"
    },
    {
      "text": "string"
    },
    {
      "text": "yes"
    },
    {},
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "value"
    },
    {
      "text": "string"
    },
    {
      "text": "yes"
    },
    {},
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "_isa"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Based on"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "show"
    },
    {},
    {
      "text": "no"
    },
    {
      "html": "Whether to show block or not"
    },
    {
      "html": true
    }
  ]
]
}) }}






### Schema

{{ govukDetails({
  "summaryText": "Raw schema",
  "html": "
```
{
  \"$id\": \"http://gov.uk/schema/v1.0.0/option\",
  \"_name\": \"option\",
  \"title\": \"Select option\",
  \"description\": \"Component that provides a select option\",
  \"type\": \"object\",
  \"properties\": {
    \"_type\": {
      \"const\": \"option\"
    },
    \"option\": {
      \"type\": \"string\"
    },
    \"value\": {
      \"type\": \"string\"
    }
  },
  \"allOf\": [
    {
      \"$ref\": \"http://gov.uk/schema/v1.0.0/definition/component\"
    }
  ],
  \"required\": [
    \"option\",
    \"value\"
  ],
  \"category\": [
    \"option\"
  ]
}
```
"
}) }}

{{ govukDetails({
  "summaryText": "Expanded schema",
  "html": "
```
{
  \"$id\": \"http://gov.uk/schema/v1.0.0/option\",
  \"_name\": \"option\",
  \"title\": \"Select option\",
  \"description\": \"Component that provides a select option\",
  \"type\": \"object\",
  \"properties\": {
    \"_type\": {
      \"const\": \"option\",
      \"title\": \"Data type\",
      \"type\": \"string\"
    },
    \"option\": {
      \"type\": \"string\"
    },
    \"value\": {
      \"type\": \"string\"
    },
    \"show\": {
      \"title\": \"Whether to show block or not\",
      \"oneOf\": [
        {
          \"$id\": \"http://gov.uk/schema/v1.0.0/definition/conditional.boolean\",
          \"_name\": \"conditional.boolean.definition\",
          \"title\": \"Boolean or condition\",
          \"type\": [
            \"boolean\",
            \"object\"
          ],
          \"oneOf\": [
            {
              \"type\": \"boolean\"
            },
            {
              \"$ref\": \"http://gov.uk/schema/v1.0.0/definition/condition\"
            }
          ],
          \"category\": [
            \"definition\"
          ]
        }
      ],
      \"default\": true
    },
    \"_id\": {
      \"title\": \"Data ID\",
      \"type\": \"string\"
    },
    \"_isa\": {
      \"title\": \"Based on\",
      \"description\": \"Id of referenced data current data inherits property values from\",
      \"type\": \"string\",
      \"blockReference\": true
    }
  },
  \"required\": [
    \"_id\",
    \"_type\",
    \"option\",
    \"value\"
  ],
  \"category\": [
    \"component\",
    \"definition\",
    \"option\"
  ]
}
```
"
}) }}





### Schema uses

- [Component definition](/definition/component)

### Categories

component, option

        