---
title: Condition
description: undefined
section: Definitions
theme: 
aliases:
backlog_issue_id:
layout: layout-pane.njk
---

{% from "_specExample.njk" import specExample %}
{% from "table/macro.njk" import govukTable %}
{% from "details/macro.njk" import govukDetails %}
{% set $DesignSystem = 'https://govuk-design-system-production.cloudapps.digital' %}

[Read more about the use of conditions within Form Builder](/overview/logic)

### Properties


{{ govukTable({
  "firstCellIsHeader": true,
  "head": [
    {
      "text": "Property"
    },
    {
      "text": "Type"
    },
    {
      "text": "Required"
    },
    {
      "text": "Description"
    },
    {
      "text": "Default"
    }
  ],
  "rows": [
  [
    {
      "text": "_id"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Condition"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "_type"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Type"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "description"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Description"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "negated"
    },
    {
      "text": "boolean"
    },
    {
      "text": "no"
    },
    {
      "html": "Negated"
    },
    {
      "html": "-"
    }
  ]
]
}) }}






### Schema

{{ govukDetails({
  "summaryText": "Raw schema",
  "html": "
```
{
  \"$id\": \"http://gov.uk/schema/v1.0.0/condition\",
  \"_name\": \"condition\",
  \"title\": \"Condition\",
  \"type\": \"object\",
  \"xrequired\": [
    \"_id\",
    \"_type\"
  ],
  \"allOf\": [
    {
      \"properties\": {
        \"_id\": {
          \"title\": \"Condition\",
          \"type\": \"string\"
        },
        \"_type\": {
          \"title\": \"Type\",
          \"type\": \"string\",
          \"const\": \"condition\"
        },
        \"description\": {
          \"title\": \"Description\",
          \"type\": \"string\"
        },
        \"negated\": {
          \"title\": \"Negated\",
          \"type\": \"boolean\"
        }
      }
    },
    {
      \"oneOf\": [
        {
          \"$ref\": \"#/definitions/condition\"
        },
        {
          \"$ref\": \"#/definitions/allOfConditions\"
        },
        {
          \"$ref\": \"#/definitions/anyOfConditions\"
        },
        {
          \"$ref\": \"#/definitions/oneOfConditions\"
        }
      ]
    }
  ],
  \"definitions\": {
    \"booleanOrCondition\": {
      \"oneOf\": [
        {
          \"type\": \"boolean\"
        },
        {
          \"$ref\": \"#\"
        }
      ]
    },
    \"condition\": {
      \"type\": \"object\",
      \"oneOf\": [
        {
          \"$ref\": \"#/definitions/definedCondition\"
        },
        {
          \"$ref\": \"#/definitions/textCondition\"
        },
        {
          \"$ref\": \"#/definitions/numberCondition\"
        },
        {
          \"$ref\": \"#/definitions/booleanCondition\"
        }
      ]
    },
    \"baseCondition\": {
      \"title\": \"Base Condition\",
      \"type\": \"object\",
      \"properties\": {
        \"identifier\": {
          \"title\": \"Identifier\",
          \"type\": \"string\"
        },
        \"identifierType\": {
          \"title\": \"Identifier type\",
          \"type\": \"string\",
          \"enum\": [
            \"input\",
            \"feature\"
          ]
        }
      },
      \"required\": [
        \"identifier\"
      ]
    },
    \"definedCondition\": {
      \"title\": \"Defined Condition\",
      \"type\": \"object\",
      \"allOf\": [
        {
          \"$ref\": \"#/definitions/baseCondition\"
        },
        {
          \"properties\": {
            \"operator\": {
              \"title\": \"Operator\",
              \"type\": \"string\",
              \"enum\": [
                \"defined\"
              ]
            }
          },
          \"required\": [
            \"operator\"
          ]
        }
      ]
    },
    \"textCondition\": {
      \"title\": \"Text Condition\",
      \"type\": \"object\",
      \"allOf\": [
        {
          \"$ref\": \"#/definitions/baseCondition\"
        },
        {
          \"properties\": {
            \"operator\": {
              \"title\": \"Operator\",
              \"type\": \"string\",
              \"enum\": [
                \"is\",
                \"startsWith\",
                \"endsWith\",
                \"includes\"
              ]
            },
            \"value\": {
              \"title\": \"Value\",
              \"type\": \"string\"
            }
          },
          \"required\": [
            \"operator\",
            \"value\"
          ]
        }
      ]
    },
    \"numberCondition\": {
      \"title\": \"Number Condition\",
      \"type\": \"object\",
      \"allOf\": [
        {
          \"$ref\": \"#/definitions/baseCondition\"
        },
        {
          \"properties\": {
            \"operator\": {
              \"title\": \"Operator\",
              \"type\": \"string\",
              \"enum\": [
                \"equals\",
                \"greaterThan\",
                \"greaterThanOrEqualTo\",
                \"lessThan\",
                \"lessThanOrEqualTo\",
                \"multipleOf\"
              ]
            },
            \"value\": {
              \"title\": \"Value\",
              \"type\": \"number\"
            }
          },
          \"required\": [
            \"operator\",
            \"value\"
          ]
        }
      ]
    },
    \"booleanCondition\": {
      \"title\": \"Boolean Condition\",
      \"type\": \"object\",
      \"allOf\": [
        {
          \"$ref\": \"#/definitions/baseCondition\"
        },
        {
          \"properties\": {
            \"operator\": {
              \"title\": \"Operator\",
              \"type\": \"string\",
              \"enum\": [
                \"isTrue\"
              ]
            }
          },
          \"required\": [
            \"operator\"
          ]
        }
      ]
    },
    \"allOfConditions\": {
      \"title\": \"Allof Condition Met definitions\",
      \"type\": \"object\",
      \"properties\": {
        \"allOfConditions\": {
          \"title\": \"All Conditions Met\",
          \"type\": \"array\",
          \"items\": {
            \"$ref\": \"#\"
          }
        }
      },
      \"required\": [
        \"allOfConditions\"
      ]
    },
    \"anyOfConditions\": {
      \"title\": \"Anyof Condition Met definitions\",
      \"type\": \"object\",
      \"properties\": {
        \"anyOfConditions\": {
          \"title\": \"Any Conditions Met\",
          \"type\": \"array\",
          \"items\": {
            \"$ref\": \"#\"
          }
        }
      },
      \"required\": [
        \"anyOfConditions\"
      ]
    },
    \"oneOfConditions\": {
      \"title\": \"One Condition Met definitions\",
      \"type\": \"object\",
      \"properties\": {
        \"oneOfConditions\": {
          \"title\": \"One Condition Met\",
          \"type\": \"array\",
          \"items\": {
            \"$ref\": \"#\"
          }
        }
      },
      \"required\": [
        \"oneOfConditions\"
      ]
    }
  },
  \"category\": [
    \"definition\"
  ]
}
```
"
}) }}

{{ govukDetails({
  "summaryText": "Expanded schema",
  "html": "
```
{
  \"$id\": \"http://gov.uk/schema/v1.0.0/condition\",
  \"_name\": \"condition\",
  \"title\": \"Condition\",
  \"type\": \"object\",
  \"xrequired\": [
    \"_id\",
    \"_type\"
  ],
  \"definitions\": {
    \"booleanOrCondition\": {
      \"oneOf\": [
        {
          \"type\": \"boolean\"
        },
        {
          \"$ref\": \"#\"
        }
      ]
    },
    \"condition\": {
      \"type\": \"object\",
      \"oneOf\": [
        {
          \"title\": \"Defined Condition\",
          \"type\": \"object\",
          \"required\": [
            \"identifier\",
            \"operator\"
          ],
          \"properties\": {
            \"identifier\": {
              \"title\": \"Identifier\",
              \"type\": \"string\"
            },
            \"identifierType\": {
              \"title\": \"Identifier type\",
              \"type\": \"string\",
              \"enum\": [
                \"input\",
                \"feature\"
              ]
            },
            \"operator\": {
              \"title\": \"Operator\",
              \"type\": \"string\",
              \"enum\": [
                \"defined\"
              ]
            }
          }
        },
        {
          \"title\": \"Text Condition\",
          \"type\": \"object\",
          \"required\": [
            \"identifier\",
            \"operator\",
            \"value\"
          ],
          \"properties\": {
            \"identifier\": {
              \"title\": \"Identifier\",
              \"type\": \"string\"
            },
            \"identifierType\": {
              \"title\": \"Identifier type\",
              \"type\": \"string\",
              \"enum\": [
                \"input\",
                \"feature\"
              ]
            },
            \"operator\": {
              \"title\": \"Operator\",
              \"type\": \"string\",
              \"enum\": [
                \"is\",
                \"startsWith\",
                \"endsWith\",
                \"includes\"
              ]
            },
            \"value\": {
              \"title\": \"Value\",
              \"type\": \"string\"
            }
          }
        },
        {
          \"title\": \"Number Condition\",
          \"type\": \"object\",
          \"required\": [
            \"identifier\",
            \"operator\",
            \"value\"
          ],
          \"properties\": {
            \"identifier\": {
              \"title\": \"Identifier\",
              \"type\": \"string\"
            },
            \"identifierType\": {
              \"title\": \"Identifier type\",
              \"type\": \"string\",
              \"enum\": [
                \"input\",
                \"feature\"
              ]
            },
            \"operator\": {
              \"title\": \"Operator\",
              \"type\": \"string\",
              \"enum\": [
                \"equals\",
                \"greaterThan\",
                \"greaterThanOrEqualTo\",
                \"lessThan\",
                \"lessThanOrEqualTo\",
                \"multipleOf\"
              ]
            },
            \"value\": {
              \"title\": \"Value\",
              \"type\": \"number\"
            }
          }
        },
        {
          \"title\": \"Boolean Condition\",
          \"type\": \"object\",
          \"required\": [
            \"identifier\",
            \"operator\"
          ],
          \"properties\": {
            \"identifier\": {
              \"title\": \"Identifier\",
              \"type\": \"string\"
            },
            \"identifierType\": {
              \"title\": \"Identifier type\",
              \"type\": \"string\",
              \"enum\": [
                \"input\",
                \"feature\"
              ]
            },
            \"operator\": {
              \"title\": \"Operator\",
              \"type\": \"string\",
              \"enum\": [
                \"isTrue\"
              ]
            }
          }
        }
      ]
    },
    \"baseCondition\": {
      \"title\": \"Base Condition\",
      \"type\": \"object\",
      \"required\": [
        \"identifier\"
      ],
      \"properties\": {
        \"identifier\": {
          \"title\": \"Identifier\",
          \"type\": \"string\"
        },
        \"identifierType\": {
          \"title\": \"Identifier type\",
          \"type\": \"string\",
          \"enum\": [
            \"input\",
            \"feature\"
          ]
        }
      }
    },
    \"definedCondition\": {
      \"title\": \"Defined Condition\",
      \"type\": \"object\",
      \"required\": [
        \"identifier\",
        \"operator\"
      ],
      \"properties\": {
        \"identifier\": {
          \"title\": \"Identifier\",
          \"type\": \"string\"
        },
        \"identifierType\": {
          \"title\": \"Identifier type\",
          \"type\": \"string\",
          \"enum\": [
            \"input\",
            \"feature\"
          ]
        },
        \"operator\": {
          \"title\": \"Operator\",
          \"type\": \"string\",
          \"enum\": [
            \"defined\"
          ]
        }
      }
    },
    \"textCondition\": {
      \"title\": \"Text Condition\",
      \"type\": \"object\",
      \"required\": [
        \"identifier\",
        \"operator\",
        \"value\"
      ],
      \"properties\": {
        \"identifier\": {
          \"title\": \"Identifier\",
          \"type\": \"string\"
        },
        \"identifierType\": {
          \"title\": \"Identifier type\",
          \"type\": \"string\",
          \"enum\": [
            \"input\",
            \"feature\"
          ]
        },
        \"operator\": {
          \"title\": \"Operator\",
          \"type\": \"string\",
          \"enum\": [
            \"is\",
            \"startsWith\",
            \"endsWith\",
            \"includes\"
          ]
        },
        \"value\": {
          \"title\": \"Value\",
          \"type\": \"string\"
        }
      }
    },
    \"numberCondition\": {
      \"title\": \"Number Condition\",
      \"type\": \"object\",
      \"required\": [
        \"identifier\",
        \"operator\",
        \"value\"
      ],
      \"properties\": {
        \"identifier\": {
          \"title\": \"Identifier\",
          \"type\": \"string\"
        },
        \"identifierType\": {
          \"title\": \"Identifier type\",
          \"type\": \"string\",
          \"enum\": [
            \"input\",
            \"feature\"
          ]
        },
        \"operator\": {
          \"title\": \"Operator\",
          \"type\": \"string\",
          \"enum\": [
            \"equals\",
            \"greaterThan\",
            \"greaterThanOrEqualTo\",
            \"lessThan\",
            \"lessThanOrEqualTo\",
            \"multipleOf\"
          ]
        },
        \"value\": {
          \"title\": \"Value\",
          \"type\": \"number\"
        }
      }
    },
    \"booleanCondition\": {
      \"title\": \"Boolean Condition\",
      \"type\": \"object\",
      \"required\": [
        \"identifier\",
        \"operator\"
      ],
      \"properties\": {
        \"identifier\": {
          \"title\": \"Identifier\",
          \"type\": \"string\"
        },
        \"identifierType\": {
          \"title\": \"Identifier type\",
          \"type\": \"string\",
          \"enum\": [
            \"input\",
            \"feature\"
          ]
        },
        \"operator\": {
          \"title\": \"Operator\",
          \"type\": \"string\",
          \"enum\": [
            \"isTrue\"
          ]
        }
      }
    },
    \"allOfConditions\": {
      \"title\": \"Allof Condition Met definitions\",
      \"type\": \"object\",
      \"required\": [
        \"allOfConditions\"
      ],
      \"properties\": {
        \"allOfConditions\": {
          \"title\": \"All Conditions Met\",
          \"type\": \"array\",
          \"items\": {
            \"$ref\": \"#\"
          }
        }
      }
    },
    \"anyOfConditions\": {
      \"title\": \"Anyof Condition Met definitions\",
      \"type\": \"object\",
      \"required\": [
        \"anyOfConditions\"
      ],
      \"properties\": {
        \"anyOfConditions\": {
          \"title\": \"Any Conditions Met\",
          \"type\": \"array\",
          \"items\": {
            \"$ref\": \"#\"
          }
        }
      }
    },
    \"oneOfConditions\": {
      \"title\": \"One Condition Met definitions\",
      \"type\": \"object\",
      \"required\": [
        \"oneOfConditions\"
      ],
      \"properties\": {
        \"oneOfConditions\": {
          \"title\": \"One Condition Met\",
          \"type\": \"array\",
          \"items\": {
            \"$ref\": \"#\"
          }
        }
      }
    }
  },
  \"category\": [
    \"definition\"
  ],
  \"oneOf\": [
    {
      \"type\": \"object\",
      \"oneOf\": [
        {
          \"title\": \"Defined Condition\",
          \"type\": \"object\",
          \"required\": [
            \"identifier\",
            \"operator\"
          ],
          \"properties\": {
            \"identifier\": {
              \"title\": \"Identifier\",
              \"type\": \"string\"
            },
            \"identifierType\": {
              \"title\": \"Identifier type\",
              \"type\": \"string\",
              \"enum\": [
                \"input\",
                \"feature\"
              ]
            },
            \"operator\": {
              \"title\": \"Operator\",
              \"type\": \"string\",
              \"enum\": [
                \"defined\"
              ]
            }
          }
        },
        {
          \"title\": \"Text Condition\",
          \"type\": \"object\",
          \"required\": [
            \"identifier\",
            \"operator\",
            \"value\"
          ],
          \"properties\": {
            \"identifier\": {
              \"title\": \"Identifier\",
              \"type\": \"string\"
            },
            \"identifierType\": {
              \"title\": \"Identifier type\",
              \"type\": \"string\",
              \"enum\": [
                \"input\",
                \"feature\"
              ]
            },
            \"operator\": {
              \"title\": \"Operator\",
              \"type\": \"string\",
              \"enum\": [
                \"is\",
                \"startsWith\",
                \"endsWith\",
                \"includes\"
              ]
            },
            \"value\": {
              \"title\": \"Value\",
              \"type\": \"string\"
            }
          }
        },
        {
          \"title\": \"Number Condition\",
          \"type\": \"object\",
          \"required\": [
            \"identifier\",
            \"operator\",
            \"value\"
          ],
          \"properties\": {
            \"identifier\": {
              \"title\": \"Identifier\",
              \"type\": \"string\"
            },
            \"identifierType\": {
              \"title\": \"Identifier type\",
              \"type\": \"string\",
              \"enum\": [
                \"input\",
                \"feature\"
              ]
            },
            \"operator\": {
              \"title\": \"Operator\",
              \"type\": \"string\",
              \"enum\": [
                \"equals\",
                \"greaterThan\",
                \"greaterThanOrEqualTo\",
                \"lessThan\",
                \"lessThanOrEqualTo\",
                \"multipleOf\"
              ]
            },
            \"value\": {
              \"title\": \"Value\",
              \"type\": \"number\"
            }
          }
        },
        {
          \"title\": \"Boolean Condition\",
          \"type\": \"object\",
          \"required\": [
            \"identifier\",
            \"operator\"
          ],
          \"properties\": {
            \"identifier\": {
              \"title\": \"Identifier\",
              \"type\": \"string\"
            },
            \"identifierType\": {
              \"title\": \"Identifier type\",
              \"type\": \"string\",
              \"enum\": [
                \"input\",
                \"feature\"
              ]
            },
            \"operator\": {
              \"title\": \"Operator\",
              \"type\": \"string\",
              \"enum\": [
                \"isTrue\"
              ]
            }
          }
        }
      ]
    },
    {
      \"$ref\": \"#/definitions/allOfConditions\"
    },
    {
      \"$ref\": \"#/definitions/anyOfConditions\"
    },
    {
      \"$ref\": \"#/definitions/oneOfConditions\"
    }
  ],
  \"properties\": {
    \"_id\": {
      \"title\": \"Condition\",
      \"type\": \"string\"
    },
    \"_type\": {
      \"title\": \"Type\",
      \"type\": \"string\",
      \"const\": \"condition\"
    },
    \"description\": {
      \"title\": \"Description\",
      \"type\": \"string\"
    },
    \"negated\": {
      \"title\": \"Negated\",
      \"type\": \"boolean\"
    }
  }
}
```
"
}) }}









### Categories

definition

        