---
title: Warning text
description: Component that provides warning text
section: Components
aliases:
backlog_issue_id:
layout: layout-pane.njk
---

{% from "_specExample.njk" import specExample %}
{% from "table/macro.njk" import govukTable %}
{% from "details/macro.njk" import govukDetails %}



{{ govukTable({
  "caption": "Schema properties",
  "firstCellIsHeader": true,
  "head": [
    {
      "text": "Property"
    },
    {
      "text": "Type"
    },
    {
      "text": "Required"
    },
    {
      "text": "Description"
    },
    {
      "text": "Default"
    }
  ],
  "rows": [
  [
    {
      "text": "_id"
    },
    {
      "text": "string"
    },
    {
      "text": "yes"
    },
    {
      "html": "Data ID"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "_type"
    },
    {
      "text": "string"
    },
    {
      "text": "yes"
    },
    {
      "html": "Data type"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "_isa"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Based on"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "attributes"
    },
    {
      "text": "object"
    },
    {
      "text": "no"
    },
    {
      "html": "Additional HTML attributes"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "classes"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Additional HTML classes"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "html"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Text"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "iconFallbackText"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Fallback text for the icon"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "id"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {},
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "show"
    },
    {},
    {
      "text": "no"
    },
    {
      "html": "Whether to show block or not"
    },
    {
      "html": true
    }
  ]
]
}) }}

{{ govukDetails({
  "summaryText": "Raw schema",
  "html": "
```
{
  \"$id\": \"http://gov.uk/schema/warningText/v1.0.0\",
  \"title\": \"Warning text\",
  \"description\": \"Component that provides warning text\",
  \"usage\": \"Use when there are consequences - for example, a fine or prison sentence\",
  \"type\": \"object\",
  \"properties\": {
    \"_type\": {
      \"const\": \"warningText\"
    },
    \"iconFallbackText\": {
      \"title\": \"Fallback text for the icon\",
      \"type\": \"string\"
    },
    \"html\": {
      \"title\": \"Text\",
      \"description\": \"Warning text content\",
      \"type\": \"string\",
      \"multiline\": true
    }
  },
  \"allOf\": [
    {
      \"$ref\": \"/schema/definitions/v1.0.0#/definitions/content\"
    }
  ]
}
```
"
}) }}

{{ govukDetails({
  "summaryText": "Expanded schema",
  "html": "
```
{
  \"$id\": \"http://gov.uk/schema/warningText/v1.0.0\",
  \"title\": \"Warning text\",
  \"description\": \"Component that provides warning text\",
  \"usage\": \"Use when there are consequences - for example, a fine or prison sentence\",
  \"type\": \"object\",
  \"properties\": {
    \"_type\": {
      \"const\": \"warningText\",
      \"title\": \"Data type\",
      \"type\": \"string\"
    },
    \"iconFallbackText\": {
      \"title\": \"Fallback text for the icon\",
      \"type\": \"string\"
    },
    \"html\": {
      \"title\": \"Text\",
      \"description\": \"Warning text content\",
      \"type\": \"string\",
      \"multiline\": true
    },
    \"show\": {
      \"title\": \"Whether to show block or not\",
      \"oneOf\": [
        {
          \"$ref\": \"http://gov.uk/schema/condition/v1.0.0#/definitions/booleanOrCondition\"
        }
      ],
      \"default\": true
    },
    \"_id\": {
      \"title\": \"Data ID\",
      \"type\": \"string\"
    },
    \"_isa\": {
      \"title\": \"Based on\",
      \"type\": \"string\",
      \"blockReference\": true
    },
    \"id\": {
      \"type\": \"string\"
    },
    \"classes\": {
      \"title\": \"Additional HTML classes\",
      \"type\": \"string\"
    },
    \"attributes\": {
      \"title\": \"Additional HTML attributes\",
      \"type\": \"object\"
    }
  },
  \"category\": [
    \"block\",
    \"component\",
    \"content\"
  ],
  \"required\": [
    \"_id\",
    \"_type\"
  ]
}
```
"
}) }}

        