---
title: Warning text
description: Component that provides warning text
section: Components
theme: content
aliases:
backlog_issue_id:
layout: layout-pane.njk
---

{% from "_specExample.njk" import specExample %}
{% from "table/macro.njk" import govukTable %}
{% from "details/macro.njk" import govukDetails %}
{% set $DesignSystem = 'https://govuk-design-system-production.cloudapps.digital' %}

Use the Warning text component when you need to warn users about something important, such as legal consequences of an action, or lack of action, that they might take.

[Read more about when to use the warning text component on the GOV.UK Design System]({{ $DesignSystem }}/components/warning-text)

### Properties


{{ govukTable({
  "firstCellIsHeader": true,
  "head": [
    {
      "text": "Property"
    },
    {
      "text": "Type"
    },
    {
      "text": "Required"
    },
    {
      "text": "Description"
    },
    {
      "text": "Default"
    }
  ],
  "rows": [
  [
    {
      "text": "_id"
    },
    {
      "text": "string"
    },
    {
      "text": "yes"
    },
    {
      "html": "Data ID"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "_type"
    },
    {
      "text": "string"
    },
    {
      "text": "yes"
    },
    {
      "html": "Data type"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "_isa"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Based on"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "html"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Text"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "iconFallbackText"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Fallback text for the icon"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "show"
    },
    {},
    {
      "text": "no"
    },
    {
      "html": "Whether to show block or not"
    },
    {
      "html": true
    }
  ]
]
}) }}


### Examples


Basic example of warning text
{{ specExample({group: 'component', item: 'warningText', example: 'exampleWarningText', html: true, json: true, open: true}) }}

### Schema

{{ govukDetails({
  "summaryText": "Raw schema",
  "html": "
```
{
  \"$id\": \"http://gov.uk/schema/v1.0.0/warningText\",
  \"_name\": \"warningText\",
  \"title\": \"Warning text\",
  \"description\": \"Component that provides warning text\",
  \"usage\": \"Use when there are consequences - for example, a fine or prison sentence\",
  \"type\": \"object\",
  \"properties\": {
    \"_type\": {
      \"const\": \"warningText\"
    },
    \"iconFallbackText\": {
      \"title\": \"Fallback text for the icon\",
      \"type\": \"string\"
    },
    \"html\": {
      \"title\": \"Text\",
      \"description\": \"Warning text content\",
      \"type\": \"string\",
      \"multiline\": true
    }
  },
  \"allOf\": [
    {
      \"$ref\": \"http://gov.uk/schema/v1.0.0/definition/component\"
    }
  ],
  \"category\": [
    \"content\"
  ]
}
```
"
}) }}

{{ govukDetails({
  "summaryText": "Expanded schema",
  "html": "
```
{
  \"$id\": \"http://gov.uk/schema/v1.0.0/warningText\",
  \"_name\": \"warningText\",
  \"title\": \"Warning text\",
  \"description\": \"Component that provides warning text\",
  \"usage\": \"Use when there are consequences - for example, a fine or prison sentence\",
  \"type\": \"object\",
  \"properties\": {
    \"_type\": {
      \"const\": \"warningText\",
      \"title\": \"Data type\",
      \"type\": \"string\"
    },
    \"iconFallbackText\": {
      \"title\": \"Fallback text for the icon\",
      \"type\": \"string\"
    },
    \"html\": {
      \"title\": \"Text\",
      \"description\": \"Warning text content\",
      \"type\": \"string\",
      \"multiline\": true
    },
    \"show\": {
      \"title\": \"Whether to show block or not\",
      \"oneOf\": [
        {
          \"$id\": \"http://gov.uk/schema/v1.0.0/definition/conditional.boolean\",
          \"_name\": \"conditional.boolean.definition\",
          \"title\": \"Boolean or condition\",
          \"type\": [
            \"boolean\",
            \"object\"
          ],
          \"oneOf\": [
            {
              \"type\": \"boolean\"
            },
            {
              \"$ref\": \"http://gov.uk/schema/v1.0.0/condition\"
            }
          ],
          \"category\": [
            \"definition\"
          ]
        }
      ],
      \"default\": true
    },
    \"_id\": {
      \"title\": \"Data ID\",
      \"type\": \"string\"
    },
    \"_isa\": {
      \"title\": \"Based on\",
      \"description\": \"Id of referenced data current data inherits property values from\",
      \"type\": \"string\",
      \"blockReference\": true
    }
  },
  \"category\": [
    \"component\",
    \"content\",
    \"definition\"
  ],
  \"required\": [
    \"_id\",
    \"_type\"
  ]
}
```
"
}) }}





### Schema uses

- [Component definition](/definition/component)

### Categories

component, content

        