---
layout: layout-specification.njk
---
{%- macro number(data) %}
{% from "input/macro.njk" import govukInput %}
{% set params = setError(data) %}
{% set params = setLabel(params) %}
{% set params = setInputWidthClass(params, '10') %}
{{ govukInput(params) }}
{% endmacro -%}
{% set data = {
  "_id": "componentId",
  "_type": "number",
  "name": "age",
  "label": "How old are you?"
} %}
{{ number(data) }}
