---
title: Number
description: Component that provides a number input field
section: Components
theme: control
aliases:
backlog_issue_id:
layout: layout-pane.njk
---

{% from "_specExample.njk" import specExample %}
{% from "table/macro.njk" import govukTable %}
{% from "details/macro.njk" import govukDetails %}
{% set $DesignSystem = 'https://govuk-design-system-production.cloudapps.digital' %}

Use the Number component when you need to let users enter a number.

The number component is essentially an enhanced version of the [Text component](../text).

### Properties


{{ govukTable({
  "firstCellIsHeader": true,
  "head": [
    {
      "text": "Property"
    },
    {
      "text": "Type"
    },
    {
      "text": "Required"
    },
    {
      "text": "Description"
    },
    {
      "text": "Default"
    }
  ],
  "rows": [
  [
    {
      "text": "_id"
    },
    {
      "text": "string"
    },
    {
      "text": "yes"
    },
    {
      "html": "Data ID"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "_type"
    },
    {
      "text": "string"
    },
    {
      "text": "yes"
    },
    {
      "html": "Data type"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "label"
    },
    {
      "text": "string"
    },
    {
      "text": "yes"
    },
    {
      "html": "Label"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "name"
    },
    {
      "text": "string"
    },
    {
      "text": "yes"
    },
    {
      "html": "Input name"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "_isa"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Reference to data based on"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "attributes"
    },
    {
      "text": "object"
    },
    {
      "text": "no"
    },
    {
      "html": "Additional HTML attributes"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "classes"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Additional HTML classes"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "disabled"
    },
    {},
    {
      "text": "no"
    },
    {
      "html": "Disabled"
    },
    {
      "html": false
    }
  ],
  [
    {
      "text": "errors"
    },
    {},
    {
      "text": "no"
    },
    {},
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "hint"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Hint text"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "id"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Additional HTML id"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "model"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Model to store field in"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "modelProtect"
    },
    {
      "text": "boolean"
    },
    {
      "text": "no"
    },
    {
      "html": "Whether to prevent the block’s model being overridden or appended "
    },
    {
      "html": false
    }
  ],
  [
    {
      "text": "show"
    },
    {},
    {
      "text": "no"
    },
    {
      "html": "Whether to show block or not"
    },
    {
      "html": true
    }
  ],
  [
    {
      "text": "validation"
    },
    {},
    {
      "text": "no"
    },
    {},
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "widthClassInput"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {},
    {
      "html": "10"
    }
  ]
]
}) }}


### Examples


Basic number example
{{ specExample({group: 'component', item: 'number', example: 'exampleNumber', html: true, json: true, open: true}) }}
Number example set to 20 width
{{ specExample({group: 'component', item: 'number', example: 'exampleNumberWidthClassInput20', html: true, json: true, open: true}) }}
Number example set to half width
{{ specExample({group: 'component', item: 'number', example: 'exampleNumberWidthClassInputOne-half', html: true, json: true, open: true}) }}

### Schema

{{ govukDetails({
  "summaryText": "Raw schema",
  "html": "
```
{
  \"$id\": \"http://gov.uk/schema/v1.0.0/number\",
  \"title\": \"Number\",
  \"description\": \"Component that provides a number input field\",
  \"type\": \"object\",
  \"properties\": {
    \"_type\": {
      \"const\": \"number\"
    },
    \"widthClassInput\": {
      \"allOf\": [
        {
          \"$ref\": \"/schema/v1.0.0/definitions#/definitions/widthClassInput\"
        }
      ],
      \"default\": \"10\"
    }
  },
  \"allOf\": [
    {
      \"$ref\": \"/schema/v1.0.0/definitions#/definitions/field\"
    },
    {
      \"$ref\": \"/schema/v1.0.0/validations#/definitions/numberBundle\"
    }
  ]
}
```
"
}) }}

{{ govukDetails({
  "summaryText": "Expanded schema",
  "html": "
```
{
  \"$id\": \"http://gov.uk/schema/v1.0.0/number\",
  \"title\": \"Number\",
  \"description\": \"Component that provides a number input field\",
  \"type\": \"object\",
  \"properties\": {
    \"_type\": {
      \"const\": \"number\",
      \"title\": \"Data type\",
      \"type\": \"string\"
    },
    \"widthClassInput\": {
      \"default\": \"10\",
      \"type\": \"string\",
      \"enumMap\": \"widthClassMap\",
      \"enum\": [
        \"10\",
        \"20\",
        \"30\",
        \"three-quarters\",
        \"two-thirds\",
        \"one-half\",
        \"one-third\",
        \"one-quarter\"
      ]
    },
    \"name\": {
      \"title\": \"Input name\",
      \"type\": \"string\"
    },
    \"disabled\": {
      \"title\": \"Disabled\",
      \"oneOf\": [
        {
          \"$ref\": \"http://gov.uk/schema/v1.0.0/condition#/definitions/booleanOrCondition\"
        }
      ],
      \"default\": false
    },
    \"show\": {
      \"title\": \"Whether to show block or not\",
      \"oneOf\": [
        {
          \"$ref\": \"http://gov.uk/schema/v1.0.0/condition#/definitions/booleanOrCondition\"
        }
      ],
      \"default\": true
    },
    \"_id\": {
      \"title\": \"Data ID\",
      \"type\": \"string\"
    },
    \"_isa\": {
      \"title\": \"Reference to data based on\",
      \"description\": \"Id of referenced data current data inherits property values from\",
      \"type\": \"string\",
      \"blockReference\": true
    },
    \"id\": {
      \"title\": \"Additional HTML id\",
      \"type\": \"string\"
    },
    \"classes\": {
      \"title\": \"Additional HTML classes\",
      \"type\": \"string\"
    },
    \"attributes\": {
      \"title\": \"Additional HTML attributes\",
      \"type\": \"object\"
    },
    \"model\": {
      \"title\": \"Model to store field in\",
      \"type\": \"string\"
    },
    \"modelProtect\": {
      \"title\": \"Whether to prevent the block’s model being overridden or appended \",
      \"type\": \"boolean\",
      \"default\": false
    },
    \"validation\": {
      \"role\": \"validation\",
      \"properties\": {
        \"required\": {
          \"title\": \"Required\",
          \"oneOf\": [
            {
              \"$ref\": \"http://gov.uk/schema/v1.0.0/condition#/definitions/booleanOrCondition\"
            }
          ],
          \"default\": true
        },
        \"multipleOf\": {
          \"title\": \"Multiple of\",
          \"type\": \"number\",
          \"minimum\": 0
        },
        \"maximum\": {
          \"title\": \"Maximum\",
          \"type\": \"number\",
          \"minimum\": 0
        },
        \"exclusiveMaximum\": {
          \"title\": \"Exclusive maximum\",
          \"type\": \"number\",
          \"minimum\": 0
        },
        \"minimum\": {
          \"title\": \"Minimum\",
          \"type\": \"number\",
          \"minimum\": 0
        },
        \"exclusiveMinimum\": {
          \"title\": \"Exclusive minimum\",
          \"type\": \"number\",
          \"minimum\": 0
        }
      }
    },
    \"errors\": {
      \"role\": \"errorStrings\",
      \"properties\": {
        \"required\": {
          \"title\": \"Error strings for required\",
          \"type\": \"object\",
          \"properties\": {
            \"inline\": {
              \"type\": \"string\",
              \"role\": \"errorString\"
            },
            \"summary\": {
              \"type\": \"string\",
              \"role\": \"errorString\"
            }
          }
        },
        \"multipleOf\": {
          \"title\": \"Error strings for multipleOf\",
          \"type\": \"object\",
          \"properties\": {
            \"inline\": {
              \"type\": \"string\",
              \"role\": \"errorString\"
            },
            \"summary\": {
              \"type\": \"string\",
              \"role\": \"errorString\"
            }
          }
        },
        \"maximum\": {
          \"title\": \"Error strings for maximum\",
          \"type\": \"object\",
          \"properties\": {
            \"inline\": {
              \"type\": \"string\",
              \"role\": \"errorString\"
            },
            \"summary\": {
              \"type\": \"string\",
              \"role\": \"errorString\"
            }
          }
        },
        \"exclusiveMaximum\": {
          \"title\": \"Error strings for exclusiveMaximum\",
          \"type\": \"object\",
          \"properties\": {
            \"inline\": {
              \"type\": \"string\",
              \"role\": \"errorString\"
            },
            \"summary\": {
              \"type\": \"string\",
              \"role\": \"errorString\"
            }
          }
        },
        \"minimum\": {
          \"title\": \"Error strings for minimum\",
          \"type\": \"object\",
          \"properties\": {
            \"inline\": {
              \"type\": \"string\",
              \"role\": \"errorString\"
            },
            \"summary\": {
              \"type\": \"string\",
              \"role\": \"errorString\"
            }
          }
        },
        \"exclusiveMinimum\": {
          \"title\": \"Error strings for exclusiveMinimum\",
          \"type\": \"object\",
          \"properties\": {
            \"inline\": {
              \"type\": \"string\",
              \"role\": \"errorString\"
            },
            \"summary\": {
              \"type\": \"string\",
              \"role\": \"errorString\"
            }
          }
        }
      }
    },
    \"label\": {
      \"title\": \"Label\",
      \"type\": \"string\"
    },
    \"hint\": {
      \"title\": \"Hint text\",
      \"type\": \"string\"
    }
  },
  \"category\": [
    \"block\",
    \"component\",
    \"control\",
    \"field\"
  ],
  \"required\": [
    \"_id\",
    \"_type\",
    \"label\",
    \"name\"
  ]
}
```
"
}) }}

        