---
title: Table
description: Component that provides a table
section: Components
theme: content
aliases:
backlog_issue_id:
layout: layout-pane.njk
---

{% from "_specExample.njk" import specExample %}
{% from "table/macro.njk" import govukTable %}
{% from "details/macro.njk" import govukDetails %}
{% set $DesignSystem = 'https://govuk-design-system-production.cloudapps.digital' %}

Use the Table component to let users to compare information in rows and columns.

[Read more about when to use the table component on the GOV.UK Design System]({{ $DesignSystem }}/components/table)

### Properties


{{ govukTable({
  "firstCellIsHeader": true,
  "head": [
    {
      "text": "Property"
    },
    {
      "text": "Type"
    },
    {
      "text": "Required"
    },
    {
      "text": "Description"
    },
    {
      "text": "Default"
    }
  ],
  "rows": [
  [
    {
      "text": "_id"
    },
    {
      "text": "string"
    },
    {
      "text": "yes"
    },
    {
      "html": "Data ID"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "_type"
    },
    {
      "text": "string"
    },
    {
      "text": "yes"
    },
    {
      "html": "Data type"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "rows"
    },
    {
      "text": "array"
    },
    {
      "text": "yes"
    },
    {},
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "_isa"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Based on"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "attributes"
    },
    {
      "text": "object"
    },
    {
      "text": "no"
    },
    {
      "html": "Additional HTML attributes"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "caption"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {},
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "captionClasses"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {},
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "classes"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Additional HTML classes"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "firstCellIsHeader"
    },
    {
      "text": "boolean"
    },
    {
      "text": "no"
    },
    {},
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "head"
    },
    {
      "text": "array"
    },
    {
      "text": "no"
    },
    {},
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "id"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Additional HTML id"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "show"
    },
    {},
    {
      "text": "no"
    },
    {
      "html": "Whether to show block or not"
    },
    {
      "html": true
    }
  ]
]
}) }}


### Examples


Basic table example
{{ specExample({group: 'component', item: 'table', example: 'exampleTable', html: true, json: true, open: true}) }}

### Schema

{{ govukDetails({
  "summaryText": "Raw schema",
  "html": "
```
{
  \"$id\": \"http://gov.uk/schema/v1.0.0/table\",
  \"_name\": \"table\",
  \"title\": \"Table\",
  \"description\": \"Component that provides a table\",
  \"type\": \"object\",
  \"properties\": {
    \"_type\": {
      \"const\": \"table\"
    },
    \"caption\": {
      \"type\": \"string\"
    },
    \"captionClasses\": {
      \"type\": \"string\"
    },
    \"firstCellIsHeader\": {
      \"type\": \"boolean\"
    },
    \"head\": {
      \"type\": \"array\",
      \"items\": {
        \"$ref\": \"#/definitions/cell\"
      }
    },
    \"rows\": {
      \"type\": \"array\",
      \"items\": {
        \"$ref\": \"#/definitions/cell\"
      }
    }
  },
  \"allOf\": [
    {
      \"$ref\": \"http://gov.uk/schema/v1.0.0/definition/component\"
    },
    {
      \"$ref\": \"http://gov.uk/schema/v1.0.0/definition/htmlAttributes\"
    }
  ],
  \"required\": [
    \"rows\"
  ],
  \"definitions\": {
    \"cell\": {
      \"properties\": {
        \"_type\": {
          \"const\": \"cell\"
        },
        \"html\": {
          \"type\": \"string\"
        },
        \"format\": {
          \"type\": \"string\"
        },
        \"colspan\": {
          \"type\": \"number\",
          \"minimum\": 1
        },
        \"rowspan\": {
          \"type\": \"number\",
          \"minimum\": 1
        }
      },
      \"allOf\": [
        {
          \"$ref\": \"http://gov.uk/schema/v1.0.0/definition/data\"
        }
      ]
    }
  },
  \"category\": [
    \"content\"
  ]
}
```
"
}) }}

{{ govukDetails({
  "summaryText": "Expanded schema",
  "html": "
```
{
  \"$id\": \"http://gov.uk/schema/v1.0.0/table\",
  \"_name\": \"table\",
  \"title\": \"Table\",
  \"description\": \"Component that provides a table\",
  \"type\": \"object\",
  \"properties\": {
    \"_type\": {
      \"const\": \"table\",
      \"title\": \"Data type\",
      \"type\": \"string\"
    },
    \"caption\": {
      \"type\": \"string\"
    },
    \"captionClasses\": {
      \"type\": \"string\"
    },
    \"firstCellIsHeader\": {
      \"type\": \"boolean\"
    },
    \"head\": {
      \"type\": \"array\",
      \"items\": {
        \"$id\": \"http://gov.uk/schema/v1.0.0/definition/data\",
        \"_name\": \"data.definition\",
        \"title\": \"Data definition\",
        \"required\": [
          \"_id\",
          \"_type\"
        ],
        \"category\": [
          \"definition\"
        ],
        \"properties\": {
          \"_type\": {
            \"const\": \"cell\",
            \"title\": \"Data type\",
            \"type\": \"string\"
          },
          \"html\": {
            \"type\": \"string\"
          },
          \"format\": {
            \"type\": \"string\"
          },
          \"colspan\": {
            \"type\": \"number\",
            \"minimum\": 1
          },
          \"rowspan\": {
            \"type\": \"number\",
            \"minimum\": 1
          },
          \"_id\": {
            \"title\": \"Data ID\",
            \"type\": \"string\"
          },
          \"_isa\": {
            \"title\": \"Based on\",
            \"description\": \"Id of referenced data current data inherits property values from\",
            \"type\": \"string\",
            \"blockReference\": true
          }
        }
      }
    },
    \"rows\": {
      \"type\": \"array\",
      \"items\": {
        \"$id\": \"http://gov.uk/schema/v1.0.0/definition/data\",
        \"_name\": \"data.definition\",
        \"title\": \"Data definition\",
        \"required\": [
          \"_id\",
          \"_type\"
        ],
        \"category\": [
          \"definition\"
        ],
        \"properties\": {
          \"_type\": {
            \"const\": \"cell\",
            \"title\": \"Data type\",
            \"type\": \"string\"
          },
          \"html\": {
            \"type\": \"string\"
          },
          \"format\": {
            \"type\": \"string\"
          },
          \"colspan\": {
            \"type\": \"number\",
            \"minimum\": 1
          },
          \"rowspan\": {
            \"type\": \"number\",
            \"minimum\": 1
          },
          \"_id\": {
            \"title\": \"Data ID\",
            \"type\": \"string\"
          },
          \"_isa\": {
            \"title\": \"Based on\",
            \"description\": \"Id of referenced data current data inherits property values from\",
            \"type\": \"string\",
            \"blockReference\": true
          }
        }
      }
    },
    \"show\": {
      \"title\": \"Whether to show block or not\",
      \"oneOf\": [
        {
          \"$id\": \"http://gov.uk/schema/v1.0.0/definition/conditional.boolean\",
          \"_name\": \"conditional.boolean.definition\",
          \"title\": \"Boolean or condition\",
          \"type\": [
            \"boolean\",
            \"object\"
          ],
          \"oneOf\": [
            {
              \"type\": \"boolean\"
            },
            {
              \"$ref\": \"http://gov.uk/schema/v1.0.0/condition\"
            }
          ],
          \"category\": [
            \"definition\"
          ]
        }
      ],
      \"default\": true
    },
    \"_id\": {
      \"title\": \"Data ID\",
      \"type\": \"string\"
    },
    \"_isa\": {
      \"title\": \"Based on\",
      \"description\": \"Id of referenced data current data inherits property values from\",
      \"type\": \"string\",
      \"blockReference\": true
    },
    \"id\": {
      \"title\": \"Additional HTML id\",
      \"type\": \"string\"
    },
    \"classes\": {
      \"title\": \"Additional HTML classes\",
      \"type\": \"string\"
    },
    \"attributes\": {
      \"title\": \"Additional HTML attributes\",
      \"type\": \"object\"
    }
  },
  \"required\": [
    \"_id\",
    \"_type\",
    \"rows\"
  ],
  \"definitions\": {
    \"cell\": {
      \"$id\": \"http://gov.uk/schema/v1.0.0/definition/data\",
      \"_name\": \"data.definition\",
      \"title\": \"Data definition\",
      \"required\": [
        \"_id\",
        \"_type\"
      ],
      \"category\": [
        \"definition\"
      ],
      \"properties\": {
        \"_type\": {
          \"const\": \"cell\",
          \"title\": \"Data type\",
          \"type\": \"string\"
        },
        \"html\": {
          \"type\": \"string\"
        },
        \"format\": {
          \"type\": \"string\"
        },
        \"colspan\": {
          \"type\": \"number\",
          \"minimum\": 1
        },
        \"rowspan\": {
          \"type\": \"number\",
          \"minimum\": 1
        },
        \"_id\": {
          \"title\": \"Data ID\",
          \"type\": \"string\"
        },
        \"_isa\": {
          \"title\": \"Based on\",
          \"description\": \"Id of referenced data current data inherits property values from\",
          \"type\": \"string\",
          \"blockReference\": true
        }
      }
    }
  },
  \"category\": [
    \"component\",
    \"content\",
    \"definition\"
  ]
}
```
"
}) }}





### Schema uses

- [Component definition](/definition/component)
- [HTML attributes definition](/definition/htmlAttributes)

### Categories

component, content

        