---
title: Flash card page
description: Flash card page
section: Pages
aliases:
backlog_issue_id:
layout: layout-pane.njk
---

{% from "_specExample.njk" import specExample %}
{% from "table/macro.njk" import govukTable %}
{% from "details/macro.njk" import govukDetails %}



{{ govukTable({
  "caption": "Schema properties",
  "firstCellIsHeader": true,
  "head": [
    {
      "text": "Property"
    },
    {
      "text": "Type"
    },
    {
      "text": "Required"
    },
    {
      "text": "Description"
    },
    {
      "text": "Default"
    }
  ],
  "rows": [
  [
    {
      "text": "_id"
    },
    {
      "text": "string"
    },
    {
      "text": "yes"
    },
    {
      "html": "Data ID"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "_type"
    },
    {
      "text": "string"
    },
    {
      "text": "yes"
    },
    {
      "html": "Data type"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "url"
    },
    {
      "text": "string"
    },
    {
      "text": "yes"
    },
    {
      "html": "URL"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "_isa"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Based on"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "content"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Content"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "extraItems"
    },
    {
      "text": "array"
    },
    {
      "text": "no"
    },
    {
      "html": "Additional items following continue button"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "heading"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Heading"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "items"
    },
    {
      "text": "array"
    },
    {
      "text": "no"
    },
    {
      "html": "Items"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "lede"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Lede"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "model"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Model to store field in"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "modelProtect"
    },
    {
      "text": "boolean"
    },
    {
      "text": "no"
    },
    {},
    {
      "html": false
    }
  ],
  [
    {
      "text": "multiple"
    },
    {
      "text": "boolean"
    },
    {
      "text": "no"
    },
    {},
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "multipleMaximum"
    },
    {
      "text": "number"
    },
    {
      "text": "no"
    },
    {},
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "multipleMinimum"
    },
    {
      "text": "number"
    },
    {
      "text": "no"
    },
    {},
    {
      "html": 1
    }
  ],
  [
    {
      "text": "nextPage"
    },
    {},
    {
      "text": "no"
    },
    {
      "html": "What page (if any), and under what condtions, to go to next"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "show"
    },
    {},
    {
      "text": "no"
    },
    {
      "html": "Whether to show block or not"
    },
    {
      "html": true
    }
  ],
  [
    {
      "text": "steps"
    },
    {
      "text": "array"
    },
    {
      "text": "no"
    },
    {
      "html": "Steps"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "title"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Title"
    },
    {
      "html": "-"
    }
  ]
]
}) }}

{{ govukDetails({
  "summaryText": "Raw schema",
  "html": "
```
{
  \"$id\": \"http://gov.uk/schema/pageFlashCard/v1.0.0\",
  \"title\": \"Flash card page\",
  \"description\": \"Flash card page\",
  \"type\": \"object\",
  \"category\": [],
  \"properties\": {
    \"_type\": {
      \"const\": \"pageFlashCard\"
    }
  },
  \"allOf\": [
    {
      \"$ref\": \"/schema/definitions/v1.0.0#/definitions/formPage\"
    }
  ]
}
```
"
}) }}

{{ govukDetails({
  "summaryText": "Expanded schema",
  "html": "
```
{
  \"$id\": \"http://gov.uk/schema/pageFlashCard/v1.0.0\",
  \"title\": \"Flash card page\",
  \"description\": \"Flash card page\",
  \"type\": \"object\",
  \"category\": [
    \"formPage\",
    \"page\"
  ],
  \"properties\": {
    \"_type\": {
      \"const\": \"pageFlashCard\",
      \"title\": \"Data type\",
      \"type\": \"string\"
    },
    \"extraItems\": {
      \"title\": \"Additional items following continue button\",
      \"type\": \"array\",
      \"items\": {
        \"type\": \"object\",
        \"category\": [
          \"component\",
          \"block\"
        ],
        \"properties\": {
          \"show\": {
            \"title\": \"Whether to show block or not\",
            \"oneOf\": [
              {
                \"$ref\": \"http://gov.uk/schema/condition/v1.0.0#/definitions/booleanOrCondition\"
              }
            ],
            \"default\": true
          }
        }
      }
    },
    \"steps\": {
      \"title\": \"Steps\",
      \"type\": \"array\",
      \"items\": {
        \"type\": \"string\"
      }
    },
    \"nextPage\": {
      \"title\": \"What page (if any), and under what condtions, to go to next\",
      \"oneOf\": [
        {
          \"type\": \"string\"
        },
        {
          \"type\": \"array\",
          \"items\": {
            \"oneOf\": [
              {
                \"type\": \"object\",
                \"properties\": {
                  \"page\": {
                    \"type\": \"string\"
                  },
                  \"condition\": {
                    \"$ref\": \"http://gov.uk/schema/condition/v1.0.0#/definitions/booleanOrCondition\"
                  }
                },
                \"required\": [
                  \"page\",
                  \"condition\"
                ]
              },
              {
                \"type\": \"string\"
              }
            ]
          }
        }
      ]
    },
    \"url\": {
      \"title\": \"URL\",
      \"type\": \"string\"
    },
    \"heading\": {
      \"title\": \"Heading\",
      \"type\": \"string\"
    },
    \"title\": {
      \"title\": \"Title\",
      \"type\": \"string\"
    },
    \"lede\": {
      \"title\": \"Lede\",
      \"type\": \"string\"
    },
    \"content\": {
      \"title\": \"Content\",
      \"type\": \"string\",
      \"multiline\": true
    },
    \"items\": {
      \"title\": \"Items\",
      \"type\": \"array\",
      \"items\": {
        \"type\": \"object\",
        \"category\": [
          \"component\",
          \"block\"
        ],
        \"properties\": {
          \"show\": {
            \"title\": \"Whether to show block or not\",
            \"oneOf\": [
              {
                \"$ref\": \"http://gov.uk/schema/condition/v1.0.0#/definitions/booleanOrCondition\"
              }
            ],
            \"default\": true
          }
        }
      }
    },
    \"show\": {
      \"title\": \"Whether to show block or not\",
      \"oneOf\": [
        {
          \"$ref\": \"http://gov.uk/schema/condition/v1.0.0#/definitions/booleanOrCondition\"
        }
      ],
      \"default\": true
    },
    \"_id\": {
      \"title\": \"Data ID\",
      \"type\": \"string\"
    },
    \"_isa\": {
      \"title\": \"Based on\",
      \"type\": \"string\",
      \"blockReference\": true
    },
    \"multiple\": {
      \"type\": \"boolean\"
    },
    \"multipleMinimum\": {
      \"type\": \"number\",
      \"minimum\": 0,
      \"default\": 1
    },
    \"multipleMaximum\": {
      \"type\": \"number\",
      \"minimum\": 0
    },
    \"model\": {
      \"title\": \"Model to store field in\",
      \"type\": \"string\"
    },
    \"modelProtect\": {
      \"type\": \"boolean\",
      \"default\": false
    }
  },
  \"required\": [
    \"_id\",
    \"_type\",
    \"url\"
  ]
}
```
"
}) }}

        