---
title: Section
description: Component for creating sections within a page
section: Components
theme: grouping
aliases:
backlog_issue_id:
layout: layout-pane.njk
---

{% from "_specExample.njk" import specExample %}
{% from "table/macro.njk" import govukTable %}
{% from "details/macro.njk" import govukDetails %}
{% set $DesignSystem = 'https://govuk-design-system-production.cloudapps.digital' %}

Use the Section component to group blocks together with semantic intent, ie. to represent a standalone section of a page.

This enables the automatic creation of headings with the right level and other markup for accessibility purposes.

A section may contain any other type of blocks including other sections.

Typically the section component should be used on content pages.

### Properties


{{ govukTable({
  "firstCellIsHeader": true,
  "head": [
    {
      "text": "Property"
    },
    {
      "text": "Type"
    },
    {
      "text": "Required"
    },
    {
      "text": "Description"
    },
    {
      "text": "Default"
    }
  ],
  "rows": [
  [
    {
      "text": "_id"
    },
    {
      "text": "string"
    },
    {
      "text": "yes"
    },
    {
      "html": "Data ID"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "_type"
    },
    {
      "text": "string"
    },
    {
      "text": "yes"
    },
    {
      "html": "Data type"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "_isa"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Based on"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "components"
    },
    {
      "text": "array"
    },
    {
      "text": "no"
    },
    {
      "html": "Components"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "content"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {},
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "heading"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {},
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "lede"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {},
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "show"
    },
    {},
    {
      "text": "no"
    },
    {
      "html": "Whether to show block or not"
    },
    {
      "html": true
    }
  ]
]
}) }}


### Examples


Basic section example
{{ specExample({group: 'component', item: 'section', example: 'exampleSection', html: true, json: true, open: true}) }}

### Schema

{{ govukDetails({
  "summaryText": "Raw schema",
  "html": "
```
{
  \"$id\": \"http://gov.uk/schema/v1.0.0/section\",
  \"_name\": \"section\",
  \"title\": \"Section\",
  \"description\": \"Component for creating sections within a page\",
  \"type\": \"object\",
  \"category\": [
    \"grouping\"
  ],
  \"properties\": {
    \"_type\": {
      \"const\": \"section\"
    },
    \"heading\": {
      \"type\": \"string\"
    },
    \"lede\": {
      \"type\": \"string\"
    },
    \"content\": {
      \"type\": \"string\",
      \"multiline\": true
    }
  },
  \"allOf\": [
    {
      \"$ref\": \"http://gov.uk/schema/v1.0.0/definition/component\"
    },
    {
      \"$ref\": \"http://gov.uk/schema/v1.0.0/definition/components\"
    }
  ]
}
```
"
}) }}

{{ govukDetails({
  "summaryText": "Expanded schema",
  "html": "
```
{
  \"$id\": \"http://gov.uk/schema/v1.0.0/section\",
  \"_name\": \"section\",
  \"title\": \"Section\",
  \"description\": \"Component for creating sections within a page\",
  \"type\": \"object\",
  \"category\": [
    \"component\",
    \"definition\",
    \"grouping\"
  ],
  \"properties\": {
    \"_type\": {
      \"const\": \"section\",
      \"title\": \"Data type\",
      \"type\": \"string\"
    },
    \"heading\": {
      \"type\": \"string\"
    },
    \"lede\": {
      \"type\": \"string\"
    },
    \"content\": {
      \"type\": \"string\",
      \"multiline\": true
    },
    \"show\": {
      \"title\": \"Whether to show block or not\",
      \"oneOf\": [
        {
          \"$id\": \"http://gov.uk/schema/v1.0.0/definition/conditional.boolean\",
          \"_name\": \"conditional.boolean.definition\",
          \"title\": \"Boolean or condition\",
          \"type\": [
            \"boolean\",
            \"object\"
          ],
          \"oneOf\": [
            {
              \"type\": \"boolean\"
            },
            {
              \"$ref\": \"http://gov.uk/schema/v1.0.0/definition/condition\"
            }
          ],
          \"category\": [
            \"definition\"
          ]
        }
      ],
      \"default\": true
    },
    \"_id\": {
      \"title\": \"Data ID\",
      \"type\": \"string\"
    },
    \"_isa\": {
      \"title\": \"Based on\",
      \"description\": \"Id of referenced data current data inherits property values from\",
      \"type\": \"string\",
      \"blockReference\": true
    },
    \"components\": {
      \"title\": \"Components\",
      \"type\": \"array\",
      \"items\": {
        \"$id\": \"http://gov.uk/schema/v1.0.0/definition/component\",
        \"_name\": \"component.definition\",
        \"title\": \"Component definition\",
        \"category\": [
          \"component\",
          \"definition\"
        ],
        \"required\": [
          \"_id\",
          \"_type\"
        ],
        \"properties\": {
          \"show\": {
            \"title\": \"Whether to show block or not\",
            \"oneOf\": [
              {
                \"$id\": \"http://gov.uk/schema/v1.0.0/definition/conditional.boolean\",
                \"_name\": \"conditional.boolean.definition\",
                \"title\": \"Boolean or condition\",
                \"type\": [
                  \"boolean\",
                  \"object\"
                ],
                \"oneOf\": [
                  {
                    \"type\": \"boolean\"
                  },
                  {
                    \"$ref\": \"http://gov.uk/schema/v1.0.0/definition/condition\"
                  }
                ],
                \"category\": [
                  \"definition\"
                ]
              }
            ],
            \"default\": true
          },
          \"_id\": {
            \"title\": \"Data ID\",
            \"type\": \"string\"
          },
          \"_type\": {
            \"title\": \"Data type\",
            \"type\": \"string\"
          },
          \"_isa\": {
            \"title\": \"Based on\",
            \"description\": \"Id of referenced data current data inherits property values from\",
            \"type\": \"string\",
            \"blockReference\": true
          }
        }
      }
    }
  },
  \"required\": [
    \"_id\",
    \"_type\"
  ]
}
```
"
}) }}





### Schema uses

- [Component definition](/definition/component)
- [Components definition](/definition/components)

### Categories

component, grouping

        