---
title: Multiple definition
description: undefined
section: Definitions
theme: 
aliases:
backlog_issue_id:
layout: layout-pane.njk
---

{% from "_specExample.njk" import specExample %}
{% from "table/macro.njk" import govukTable %}
{% from "details/macro.njk" import govukDetails %}
{% set $DesignSystem = 'https://govuk-design-system-production.cloudapps.digital' %}



### Properties


{{ govukTable({
  "firstCellIsHeader": true,
  "head": [
    {
      "text": "Property"
    },
    {
      "text": "Type"
    },
    {
      "text": "Required"
    },
    {
      "text": "Description"
    },
    {
      "text": "Default"
    }
  ],
  "rows": [
  [
    {
      "text": "model"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Model to store field in"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "modelProtect"
    },
    {
      "text": "boolean"
    },
    {
      "text": "no"
    },
    {
      "html": "Whether to prevent the block’s model being overridden or appended "
    },
    {
      "html": false
    }
  ],
  [
    {
      "text": "multiple"
    },
    {
      "text": "boolean"
    },
    {
      "text": "no"
    },
    {},
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "multipleAdd"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {},
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "multipleDelete"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {},
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "multipleMaximum"
    },
    {
      "text": "number"
    },
    {
      "text": "no"
    },
    {},
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "multipleMinimum"
    },
    {
      "text": "number"
    },
    {
      "text": "no"
    },
    {},
    {
      "html": 1
    }
  ]
]
}) }}






### Schema

{{ govukDetails({
  "summaryText": "Raw schema",
  "html": "
```
{
  \"$id\": \"http://gov.uk/schema/v1.0.0/definition/multiple\",
  \"_name\": \"definition.multiple\",
  \"title\": \"Multiple definition\",
  \"type\": \"object\",
  \"properties\": {
    \"multiple\": {
      \"type\": \"boolean\"
    },
    \"multipleMinimum\": {
      \"type\": \"number\",
      \"minimum\": 0,
      \"default\": 1
    },
    \"multipleMaximum\": {
      \"type\": \"number\",
      \"minimum\": 0
    },
    \"multipleAdd\": {
      \"type\": \"string\"
    },
    \"multipleDelete\": {
      \"type\": \"string\"
    }
  },
  \"allOf\": [
    {
      \"$ref\": \"http://gov.uk/schema/v1.0.0/definition/model\"
    }
  ],
  \"category\": [
    \"definition\"
  ]
}
```
"
}) }}

{{ govukDetails({
  "summaryText": "Expanded schema",
  "html": "
```
{
  \"$id\": \"http://gov.uk/schema/v1.0.0/definition/multiple\",
  \"_name\": \"definition.multiple\",
  \"title\": \"Multiple definition\",
  \"type\": \"object\",
  \"properties\": {
    \"multiple\": {
      \"type\": \"boolean\"
    },
    \"multipleMinimum\": {
      \"type\": \"number\",
      \"minimum\": 0,
      \"default\": 1
    },
    \"multipleMaximum\": {
      \"type\": \"number\",
      \"minimum\": 0
    },
    \"multipleAdd\": {
      \"type\": \"string\"
    },
    \"multipleDelete\": {
      \"type\": \"string\"
    },
    \"model\": {
      \"title\": \"Model to store field in\",
      \"type\": \"string\"
    },
    \"modelProtect\": {
      \"title\": \"Whether to prevent the block’s model being overridden or appended \",
      \"type\": \"boolean\",
      \"default\": false
    }
  },
  \"category\": [
    \"definition\"
  ]
}
```
"
}) }}

### Schema used by

- [Field definition](/definition/field)
- [Form page definition](/definition/page/form)
- [Fieldset](/component/fieldset)

### Schema uses

- [Model definition](/definition/model)

### Categories

definition

        