---
title: Content page
description: Content page
section: Pages
theme: 
aliases:
backlog_issue_id:
layout: layout-pane.njk
---

{% from "_specExample.njk" import specExample %}
{% from "table/macro.njk" import govukTable %}
{% from "details/macro.njk" import govukDetails %}
{% set $DesignSystem = 'https://govuk-design-system-production.cloudapps.digital' %}

A generic content page to provide users with guidance during the service flow or as standalone pages.

### Properties


{{ govukTable({
  "firstCellIsHeader": true,
  "head": [
    {
      "text": "Property"
    },
    {
      "text": "Type"
    },
    {
      "text": "Required"
    },
    {
      "text": "Description"
    },
    {
      "text": "Default"
    }
  ],
  "rows": [
  [
    {
      "text": "_id"
    },
    {
      "text": "string"
    },
    {
      "text": "yes"
    },
    {
      "html": "Data ID"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "_type"
    },
    {
      "text": "string"
    },
    {
      "text": "yes"
    },
    {
      "html": "Data type"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "heading"
    },
    {
      "text": "string"
    },
    {
      "text": "yes"
    },
    {
      "html": "Heading"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "url"
    },
    {
      "text": "string"
    },
    {
      "text": "yes"
    },
    {
      "html": "URL"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "_isa"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Based on"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "components"
    },
    {
      "text": "array"
    },
    {
      "text": "no"
    },
    {
      "html": "Components"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "content"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Content"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "lede"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Lede"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "show"
    },
    {},
    {
      "text": "no"
    },
    {
      "html": "Whether to show block or not"
    },
    {
      "html": true
    }
  ],
  [
    {
      "text": "title"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Title"
    },
    {
      "html": "-"
    }
  ]
]
}) }}






### Schema

{{ govukDetails({
  "summaryText": "Raw schema",
  "html": "
```
{
  \"$id\": \"http://gov.uk/schema/v1.0.0/pageContent\",
  \"_name\": \"pageContent\",
  \"title\": \"Content page\",
  \"description\": \"Content page\",
  \"type\": \"object\",
  \"properties\": {
    \"_type\": {
      \"const\": \"pageContent\"
    }
  },
  \"allOf\": [
    {
      \"$ref\": \"http://gov.uk/schema/v1.0.0/definition/pageContent\"
    }
  ]
}
```
"
}) }}

{{ govukDetails({
  "summaryText": "Expanded schema",
  "html": "
```
{
  \"$id\": \"http://gov.uk/schema/v1.0.0/pageContent\",
  \"_name\": \"pageContent\",
  \"title\": \"Content page\",
  \"description\": \"Content page\",
  \"type\": \"object\",
  \"properties\": {
    \"_type\": {
      \"const\": \"pageContent\",
      \"title\": \"Data type\",
      \"type\": \"string\"
    },
    \"url\": {
      \"title\": \"URL\",
      \"type\": \"string\"
    },
    \"heading\": {
      \"title\": \"Heading\",
      \"type\": \"string\"
    },
    \"title\": {
      \"title\": \"Title\",
      \"type\": \"string\"
    },
    \"lede\": {
      \"title\": \"Lede\",
      \"type\": \"string\"
    },
    \"content\": {
      \"title\": \"Content\",
      \"type\": \"string\",
      \"multiline\": true
    },
    \"show\": {
      \"title\": \"Whether to show block or not\",
      \"oneOf\": [
        {
          \"$ref\": \"http://gov.uk/schema/v1.0.0/condition#/definitions/booleanOrCondition\"
        }
      ],
      \"default\": true
    },
    \"_id\": {
      \"title\": \"Data ID\",
      \"type\": \"string\"
    },
    \"_isa\": {
      \"title\": \"Based on\",
      \"description\": \"Id of referenced data current data inherits property values from\",
      \"type\": \"string\",
      \"blockReference\": true
    },
    \"components\": {
      \"title\": \"Components\",
      \"type\": \"array\",
      \"items\": {
        \"$id\": \"http://gov.uk/schema/v1.0.0/definition/component\",
        \"_name\": \"component.definition\",
        \"title\": \"Component definition\",
        \"category\": [
          \"component\",
          \"definition\"
        ],
        \"required\": [
          \"_id\",
          \"_type\"
        ],
        \"properties\": {
          \"show\": {
            \"title\": \"Whether to show block or not\",
            \"oneOf\": [
              {
                \"$ref\": \"http://gov.uk/schema/v1.0.0/condition#/definitions/booleanOrCondition\"
              }
            ],
            \"default\": true
          },
          \"_id\": {
            \"title\": \"Data ID\",
            \"type\": \"string\"
          },
          \"_type\": {
            \"title\": \"Data type\",
            \"type\": \"string\"
          },
          \"_isa\": {
            \"title\": \"Based on\",
            \"description\": \"Id of referenced data current data inherits property values from\",
            \"type\": \"string\",
            \"blockReference\": true
          }
        }
      }
    }
  },
  \"required\": [
    \"_id\",
    \"_type\",
    \"heading\",
    \"url\"
  ],
  \"category\": [
    \"contentPage\",
    \"definition\",
    \"page\"
  ]
}
```
"
}) }}





### Schema uses

- [Content page definition](/definition/pageContent)

### Categories

contentPage, page

        