---
title: Details
description: Component for revealing content on user demand (progressive disclosure)
section: Components
theme: content
aliases:
backlog_issue_id:
layout: layout-pane.njk
---

{% from "_specExample.njk" import specExample %}
{% from "table/macro.njk" import govukTable %}
{% from "details/macro.njk" import govukDetails %}
{% set $DesignSystem = 'https://govuk-design-system-production.cloudapps.digital' %}

Make a page easier to scan by letting users reveal more detailed information only if they need it.

[Read more about when to use the details component on the GOV.UK Design System]({{ $DesignSystem }}/components/details)

### Properties


{{ govukTable({
  "firstCellIsHeader": true,
  "head": [
    {
      "text": "Property"
    },
    {
      "text": "Type"
    },
    {
      "text": "Required"
    },
    {
      "text": "Description"
    },
    {
      "text": "Default"
    }
  ],
  "rows": [
  [
    {
      "text": "_id"
    },
    {
      "text": "string"
    },
    {
      "text": "yes"
    },
    {
      "html": "Data ID"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "_type"
    },
    {
      "text": "string"
    },
    {
      "text": "yes"
    },
    {
      "html": "Data type"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "_isa"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Based on"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "html"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Content"
    },
    {
      "html": "-"
    }
  ],
  [
    {
      "text": "open"
    },
    {
      "text": "boolean"
    },
    {
      "text": "no"
    },
    {
      "html": "Open"
    },
    {
      "html": false
    }
  ],
  [
    {
      "text": "show"
    },
    {},
    {
      "text": "no"
    },
    {
      "html": "Whether to show block or not"
    },
    {
      "html": true
    }
  ],
  [
    {
      "text": "summary"
    },
    {
      "text": "string"
    },
    {
      "text": "no"
    },
    {
      "html": "Summary"
    },
    {
      "html": "-"
    }
  ]
]
}) }}


### Examples


Basic example of details
{{ specExample({group: 'component', item: 'details', example: 'exampleDetails', html: true, json: true, open: true}) }}

### Schema

{{ govukDetails({
  "summaryText": "Raw schema",
  "html": "
```
{
  \"$id\": \"http://gov.uk/schema/v1.0.0/details\",
  \"_name\": \"details\",
  \"title\": \"Details\",
  \"description\": \"Component for revealing content on user demand (progressive disclosure)\",
  \"type\": \"object\",
  \"properties\": {
    \"_type\": {
      \"const\": \"details\"
    },
    \"summary\": {
      \"title\": \"Summary\",
      \"description\": \"Text to use within the visible part of the details block\",
      \"type\": \"string\"
    },
    \"html\": {
      \"title\": \"Content\",
      \"description\": \"Text to use within the disclosed part of the details block\",
      \"type\": \"string\",
      \"multiline\": true
    },
    \"open\": {
      \"title\": \"Open\",
      \"description\": \"Whether details block should be expanded when the page loads\",
      \"type\": \"boolean\",
      \"default\": false
    }
  },
  \"allOf\": [
    {
      \"$ref\": \"http://gov.uk/schema/v1.0.0/definition/component\"
    }
  ],
  \"category\": [
    \"content\"
  ]
}
```
"
}) }}

{{ govukDetails({
  "summaryText": "Expanded schema",
  "html": "
```
{
  \"$id\": \"http://gov.uk/schema/v1.0.0/details\",
  \"_name\": \"details\",
  \"title\": \"Details\",
  \"description\": \"Component for revealing content on user demand (progressive disclosure)\",
  \"type\": \"object\",
  \"properties\": {
    \"_type\": {
      \"const\": \"details\",
      \"title\": \"Data type\",
      \"type\": \"string\"
    },
    \"summary\": {
      \"title\": \"Summary\",
      \"description\": \"Text to use within the visible part of the details block\",
      \"type\": \"string\"
    },
    \"html\": {
      \"title\": \"Content\",
      \"description\": \"Text to use within the disclosed part of the details block\",
      \"type\": \"string\",
      \"multiline\": true
    },
    \"open\": {
      \"title\": \"Open\",
      \"description\": \"Whether details block should be expanded when the page loads\",
      \"type\": \"boolean\",
      \"default\": false
    },
    \"show\": {
      \"title\": \"Whether to show block or not\",
      \"oneOf\": [
        {
          \"$id\": \"http://gov.uk/schema/v1.0.0/definition/conditional.boolean\",
          \"_name\": \"conditional.boolean.definition\",
          \"title\": \"Boolean or condition\",
          \"type\": [
            \"boolean\",
            \"object\"
          ],
          \"oneOf\": [
            {
              \"type\": \"boolean\"
            },
            {
              \"$ref\": \"http://gov.uk/schema/v1.0.0/definition/condition\"
            }
          ],
          \"category\": [
            \"definition\"
          ]
        }
      ],
      \"default\": true
    },
    \"_id\": {
      \"title\": \"Data ID\",
      \"type\": \"string\"
    },
    \"_isa\": {
      \"title\": \"Based on\",
      \"description\": \"Id of referenced data current data inherits property values from\",
      \"type\": \"string\",
      \"blockReference\": true
    }
  },
  \"category\": [
    \"component\",
    \"content\",
    \"definition\"
  ],
  \"required\": [
    \"_id\",
    \"_type\"
  ]
}
```
"
}) }}





### Schema uses

- [Component definition](/definition/component)

### Categories

component, content

        